h1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 62px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/*
 * Navigation
 */

.navbar-brand {
    padding: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar-filter-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-image: url('../img/icon-filter.svg');
}

.nav-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 0.3rem;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    opacity: 0.8;
    transition: opacity 0.15s ease-in-out;
}

a.nav-link.active .nav-icon,
a.nav-link:hover .nav-icon {
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
}

.beer-icon {
    background-image: url('../img/icon-beer.svg');
}

.pint-icon {
    background-image: url('../img/icon-pint.svg');
}

.hops-icon {
    background-image: url('../img/icon-hops.svg');
}

.fermentables-icon {
    background-image: url('../img/icon-fermentables.svg');
}

.github-icon {
    background-image: url('../img/icon-github.svg');
}

@media (min-width: 768px) {
    .github-icon {
        width: 2.5rem;
        height: 2.5rem;
    }
}

/*
 * Content
 */

.chart-s {
    height: 8rem;
}

.chart-m {
    height: 14rem;
}

.chart-l {
    height: 20rem;
}

@media (min-width: 768px) {
    .chart-s {
        height: 10rem;
    }

    .chart-m {
        height: 20rem;
    }

    .chart-l {
        height: 30rem;
    }
}

.most-popular {
    line-height: 1.6rem;
}

.most-popular a.badge {
    color: #fff;
    font-size: inherit;
    text-decoration: none;
}

.most-popular a.badge:hover {
    color: #fff;
    text-decoration: underline;
}

@media (min-width: 576px) {
    .column-list {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .column-list {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .column-list {
        column-count: 4;
    }
}

@media (min-width: 1400px) {
    .column-list {
        column-count: 5;
    }
}
