{% extends 'base.html' %}
{% load web_app %}

{% block content %}
    <h1>{% if period.value == 'seasonal' %}Seasonal{% else %}Recent{% endif %} Trends in Homebrewing</h1>
    <p>
        Explore the latest trends in homebrewing!
        <strong>Discover trending hop varieties, popular yeasts, and emerging beer styles</strong>.
        Enhance your home-crafted beers to stay at the forefront with craft beers that impress.
    </p>
    <p>
        These trends are derived directly from homebrewing recipe databases using analytical algorithms. It can
        occasionally identify false positives or trends influenced by factors like ingredient availability. Thus, we
        recommend approaching these findings with a healthy amount of skepticism.
    </p>
    <p>
        You can choose between <strong>recent trends</strong> (looking at a 2 years time frame) and <strong>seasonal
        trends</strong> (looking only at the last 6 months). They might yield similar results, especially for newcomers.
    </p>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link{% if period.value == 'recent' %} active" aria-current="page{% endif %}" href="{% url "trend_overview" "recent" %}">Recent Trends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if period.value == 'seasonal' %} active" aria-current="page{% endif %}" href="{% url "trend_overview" "seasonal" %}">Seasonal Trends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "trend_popular_hops" %}">Most Popular Hops</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "trend_popular_yeasts" %}">Most Popular Yeasts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "trend_popular_styles" %}">Most Popular Beer Styles</a>
        </li>
    </ul>

    {% with chart_type="trending-hops" anchor="trending-hops" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Trending Hops</h2>
                <nav class="d-none" data-chart-navigation="chart-{{ chart_type }}">
                    <label>Used for:</label>
                    <ul class="nav" role="tablist">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" data-bs-toggle="tab" role="tab" data-filter="">Any</a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" role="tab" data-filter="bittering">Bittering</a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" role="tab" data-filter="aroma">Aroma</a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" role="tab" data-filter="dry-hop">Dry-Hop</a></li>
                    </ul>
                </nav>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-m" data-chart="{% url "trend_chart" period chart_type "json" %}" data-chart-options='{"noDataText":"No trends detected"}'>
                    <noscript>
                        <img src="{% url "trend_chart" period chart_type "svg" %}" alt="{{ period|chart_image_alt:chart_type }}"/>
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="popular-hops" anchor="most-used-hops" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Most Used Hops</h2>
                <nav class="d-none" data-chart-navigation="chart-{{ chart_type }}">
                    <label>Used for:</label>
                    <ul class="nav" role="tablist">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" data-bs-toggle="tab" role="tab" data-filter="">Any</a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" role="tab" data-filter="bittering">Bittering</a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" role="tab" data-filter="aroma">Aroma</a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" role="tab" data-filter="dry-hop">Dry-Hop</a></li>
                    </ul>
                </nav>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-m" data-chart="{% url "trend_chart" period chart_type "json" %}">
                    <noscript>
                        <img src="{% url "trend_chart" period chart_type "svg" %}" alt="{{ period|chart_image_alt:chart_type }}"/>
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="trending-yeasts" anchor="trending-yeasts" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Trending Yeasts</h2>
                <nav class="d-none" data-chart-navigation="chart-{{ chart_type }}">
                    <label>Used for:</label>
                    <ul class="nav" role="tablist">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" data-bs-toggle="tab" role="tab" data-filter="">Any</a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" role="tab" data-filter="ale">Ale</a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" role="tab" data-filter="lager">Lager</a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" role="tab" data-filter="wheat">Wheat</a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" role="tab" data-filter="brett-bacteria">Brett &amp; Bacteria</a></li>
                    </ul>
                </nav>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-m" data-chart="{% url "trend_chart" period chart_type "json" %}" data-chart-options='{"noDataText":"No trends detected"}'>
                    <noscript>
                        <img src="{% url "trend_chart" period chart_type "svg" %}" alt="{{ period|chart_image_alt:chart_type }}"/>
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="popular-yeasts" anchor="most-used-yeasts" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Most Used Yeasts</h2>
                <nav class="d-none" data-chart-navigation="chart-{{ chart_type }}">
                    <label>Used for:</label>
                    <ul class="nav" role="tablist">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" data-bs-toggle="tab" role="tab" data-filter="">Any</a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" role="tab" data-filter="ale">Ale</a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" role="tab" data-filter="lager">Lager</a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" role="tab" data-filter="wheat">Wheat</a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" role="tab" data-filter="brett-bacteria">Brett &amp; Bacteria</a></li>
                    </ul>
                </nav>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-m" data-chart="{% url "trend_chart" period chart_type "json" %}">
                    <noscript>
                        <img src="{% url "trend_chart" period chart_type "svg" %}" alt="{{ period|chart_image_alt:chart_type }}"/>
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="trending-styles" anchor="trending-styles" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Trending Styles</h2>
            </div>
            <div class="card-body">
                <div class="chart-m" data-chart="{% url "trend_chart" period chart_type "json" %}" data-chart-options='{"noDataText":"No trends detected"}'>
                    <noscript>
                        <img src="{% url "trend_chart" period chart_type "svg" %}" alt="{{ period|chart_image_alt:chart_type }}"/>
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="popular-styles" anchor="popular-styles" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Popular Styles</h2>
            </div>
            <div class="card-body">
                <div class="chart-m" data-chart="{% url "trend_chart" period chart_type "json" %}">
                    <noscript>
                        <img src="{% url "trend_chart" period chart_type "svg" %}" alt="{{ period|chart_image_alt:chart_type }}"/>
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}
{% endblock %}
