{% extends 'base.html' %}
{% load web_app %}

{% block title %}Trends in Homebrewing{% endblock %}

{% block content %}
    <h1>Trends in Homebrewing</h1>
    <p>Time frame: 1.5Y, 5Y, All-Time</p>

    <h2>Trending Hops</h2>
    <h2>Most Popular Hops</h2>
    <p>Used for: Bittering/Aroma/Dry-Hop</p>

    <h2>Trending Yeasts</h2>
    <h2>Most Popular Yeasts</h2>
    <p>Type: Ale/Lager/Wheat/Brett</p>

    <h2>Trending Styles</h2>
    <h2>Most Popular Styles</h2>

    <h2>Trending Fermentables</h2>
    <h2>Most Popular Fermentables</h2>

    <p>
    Any
    Base Malt
    Caramel/Crystal
    Toasted
    Roasted
    Other Grain
    Sugar
    Fruit
    </p>
{% endblock %}
