{% extends 'base.html' %}
{% load web_app %}

{% block sidebar %}
    <nav class="table-of-contents">
        <ol id="toc-navigation">
            <li class="section-title"><a href="#top" data-interaction="Trends:Click TOC:$label">Most Popular Beer Styles</a></li>
            <li><a href="#most-searched-styles" data-interaction="Trends:Click TOC:$label">Most Searched Beer Styles</a></li>
            <li><a href="#most-brewed-styles" data-interaction="Trends:Click TOC:$label">Most Brewed Beer Styles</a></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <header>
        <h1>Most Popular Beer Styles <small class="text-muted text-nowrap">by {{ month }}</small></h1>
        <p>Beer styles each have their own distinct personality, taste, and history that resonates with enthusiasts and casual drinkers alike. In this comprehensive exploration, we <strong>discover the most popular beer styles of today</strong>. Whether you're a homebrewer or a newcomer thirsty for knowledge, this analysis will quench your curiosity, shedding light what makes beer lovers around the world excited about these brews.</p>
    </header>

    {% with chart_type="searched-styles" anchor="most-searched-styles" %}
        <section class="anchor-target" id="{{ anchor }}">
            <h2>
                <a href="#{{ anchor }}" class="anchor"><span></span></a>
                Most Searched Beer Styles
            </h2>
            <p>Leveraging Google search volume to uncover trends in the beer world offers a fascinating glimpse into the styles that capture the imagination and taste buds of beer enthusiasts globally. This analysis delves into the digital footprint of beer styles, from the ever-popular IPAs to the subtle complexities of sour ales, revealing what drinkers are curious about and craving today.</p>
            <ol>
                {% for style in most_searched_styles %}
                    <li><a href="{{ style|url }}">{{ style.name }}</a></li>
                {% endfor %}
            </ol>
            <div class="card card-chart">
                <div class="card-body">
                    <div id="chart-{{ chart_type }}" class="chart-m" data-chart="{% url "trend_chart" "seasonal" chart_type "json" %}">
                        <noscript>
                            <img src="{% url "trend_chart" "seasonal" chart_type "svg" %}" alt="{{ period|chart_image_alt:chart_type }}"/>
                        </noscript>
                    </div>
                </div>
            </div>

            <div class="featured-styles">
                <div class="row row-cols-1 row-cols-md-1 row-cols-xl-2 g-2">
                    {% for style in most_searched_styles|slice:":4" %}
                        <div class="col">{% include "style/featured.html" with style=style %}</div>
                    {% endfor %}
                </div>
            </div>

        </section>
    {% endwith %}

    {% with chart_type="popular-styles" anchor="most-brewed-styles" %}
        <section class="anchor-target" id="{{ anchor }}">
            <h2>
                <a href="#{{ anchor }}" class="anchor"><span></span></a>
                Most Brewed Beer Styles
            </h2>
            <p>Discovering the most beloved beer styles through the number of published recipes offers a unique peek into the preferences and trends among homebrewers. By sifting through a vast collection of beer recipes, we can uncover which styles are favored, so you can dive deeper into their distinct flavors, brewing techniques, and cultural significance.</p>
            <ol>
                {% for style in most_brewed_styles %}
                    <li><a href="{{ style|url }}">{{ style.name }}</a></li>
                {% endfor %}
            </ol>
            <div class="card card-chart">
                <div class="card-body">
                    <div id="chart-{{ chart_type }}" class="chart-m" data-chart="{% url "trend_chart" "seasonal" chart_type "json" %}">
                        <noscript>
                            <img src="{% url "trend_chart" "seasonal" chart_type "svg" %}" alt="{{ period|chart_image_alt:chart_type }}"/>
                        </noscript>
                    </div>
                </div>
            </div>

            <div class="featured-styles">
                <div class="row row-cols-1 row-cols-md-1 row-cols-xl-2 g-2">
                    {% for style in most_brewed_styles|slice:":4" %}
                        <div class="col">{% include "style/featured.html" with style=style %}</div>
                    {% endfor %}
                </div>
            </div>

        </section>
    {% endwith %}
{% endblock %}
