// Charts

.card-chart {
    margin: 1rem 0;

    .card-header {
        nav {
            margin-top: 0.25rem;

            .card-header-tabs {
                margin-left: -0.2rem;
            }

            .nav-link {
                padding: 0.25rem 0.5rem;
                margin-bottom: -2px;
            }
        }
    }
}

@mixin chart-size($height) {
    min-height: $height;

    &.chart-loading {
        height: $height;
    }

    &.chart-no-data {
        min-height: 0;
        transition: min-height 0.15s ease-in-out;
    }
}

.chart-s {
    @include chart-size(10rem)
}

.chart-m {
    @include chart-size(20rem)
}

.chart-l {
    @include chart-size(30rem)
}

.chart-no-data p {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    line-height: 100%;
    color: $gray-500;
}

.chart-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-loading span {
    display: block;
    width: 10rem;
    height: 50%;
    max-height: 10rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../img/loading.svg');
    opacity: 0.2;
}
