// Charts

.card-chart {
    margin: 1rem 0;

    .card-header {
        nav {
            margin-top: 0.25rem;

            .card-header-tabs {
                margin-left: -0.2rem;
            }

            .nav-link {
                padding: 0.25rem 0.5rem;
                margin-bottom: -2px;
            }
        }
    }
}

.chart-s {
    min-height: 8rem;
}

.chart-s .chart-loading,
.chart-s .no-data {
    height: 8rem;
}

.chart-s .chart-image {
    max-width: 100%;
}

.chart-m {
    min-height: 14rem;
}

.chart-m .chart-loading,
.chart-m .no-data {
    height: 14rem;
}

.chart-l {
    min-height: 20rem;
}

.chart-l .chart-loading,
.chart-l .no-data {
    height: 20rem;
}

@media (min-width: 768px) {
    .chart-s {
        min-height: 10rem;
    }

    .chart-s .chart-loading,
    .chart-s .no-data {
        height: 10rem;
    }

    .chart-m {
        min-height: 20rem;
    }

    .chart-m .chart-loading,
    .chart-m .no-data {
        height: 20rem;
    }

    .chart-l {
        min-height: 30rem;
    }

    .chart-l .chart-loading,
    .chart-l .no-data {
        height: 30rem;
    }
}

.no-data {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    line-height: 100%;
    color: #5d5d5d;
    background: #f7f7f7;
}

.chart-loading {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.chart-loading span {
    display: block;
    width: 10rem;
    height: 50%;
    max-height: 10rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../img/loading.svg');
    opacity: 0.2;
}
