// Detail pages header

.detail-head {
    margin-bottom: 2rem;

    h1 {
        margin-bottom: 0.25rem;
    }
}

dl.detail-info {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 1rem 0;

    dt {
        &.first-in-line,
        &:first-child {
            margin-left: 0;
            padding-left: 0;
            border-left: none;
        }

        margin: 0 0.4rem 0 0;
        padding: 0 0 0 0.5rem;
        display: inline-block;
        font-weight: normal;
        border-left: 1px solid $gray-100;
    }

    dd {
        margin: 0 0.4rem 0 0;
        display: inline-block;
        font-weight: bold;
    }

    .badge {
        margin: 0 0.4rem 0 0;
        font-size: inherit;
        background-color: $gray-400;
    }
}

.toc {
    background: $gray-10;
    border: $card-border-width solid $card-border-color;
    border-radius: $card-border-radius;
    padding: $card-spacer-x $card-spacer-y;
    margin-top: 1rem;
    margin-bottom: 1rem;

    &-headline {
        margin-top: 0;
        margin-bottom: 0.5rem;
        border-bottom: 0;
        font-size: $h5-font-size;
    }

    ul, ol {
        margin-bottom: 0;
    }
}

.toc-align {
    @include media-breakpoint-up('lg') {
        float: right;
        margin-top: 0;
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
}

.badge-list {
    margin-bottom: 20px;

    ol, ul, li {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    figcaption {
        display: inline-block;
        white-space: nowrap;
        line-height: 1em;
        margin: 0.125rem 0;
        padding: 0.25em 0.5em 0.25em 0;
    }

    .badge {
        display: inline-block;
        margin: 0.125rem;
        color: $white;
        font-size: inherit;
        text-decoration: none;
        background: $secondary;
        white-space: nowrap;

        @include media-breakpoint-down('md') {
            // More space to make links easier to click on mobile
            margin-bottom: 0.3rem;
        }

        &:hover {
            color: $white;
            text-decoration: underline;
        }

        small {
            font-size: 0.75em;
            color: $white;
            opacity: 0.8;
            font-weight: normal;
        }
    }

    .bg-vegetal {
        background-color: #52905e !important;
    }
    .bg-spicy {
        background-color: #f8b057 !important;
    }
    .bg-earthy-woody {
        background-color: #9c7461 !important;
    }
    .bg-tropical {
        background-color: #f56842 !important;
    }
    .bg-citrus {
        background-color: #d1cc00 !important;
    }
    .bg-fruity {
        background-color: #ca2944 !important;
    }
    .bg-herbal {
        background-color: #2dadaf !important;
    }
    .bg-cream-caramel {
        background-color: #bcb1ac !important;
    }
    .bg-floral {
        background-color: #d35bbe !important;
    }
    .bg-other, .bg-None {
        background-color: #3f5acf !important;
    }
}


// Anchors

a.anchor {
    display: inline-block;
    position:relative;
    top: -60px;  // Move the anchor to account for the overlaying header navigation
    left: -16px;
    width: 0;
    float: left;
    line-height: 1;
}

a.anchor span {
    position: relative;
    top: 60px;  // Move the anchor to its visual position
    right: 0;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    background-image: url("../img/embed/icon-anchor.svg");

    @include media-breakpoint-up('md') {
        left: -5px;
        width: 21px;
    }
}

h2, h3 {
    &:hover {
        a.anchor span {
            display: inline-block;
        }
    }
}

.card {
    a.anchor span {
        width: 24px;
        left: -8px;
    }
}


// Generic overviews

.recipes-count {
    cursor: help;
    color: $text-muted;
    margin-left: 0.5rem;
}

#styles-overview {
    .recipes-count {
        float: right;
    }
}

.search {
    margin-bottom: 1.5rem;

    input.search-term {
        max-width: 500px;
    }
}


// Style overview
@include media-breakpoint-down('md') {
    #styles-overview ul ul {
        // More space to make links easier to click on mobile
        line-height: 1.8;
    }
}


// Simple lists
.column-list,
.column-list-wide,
.simple-list {
    @include list-unstyled();
    margin-left: 2rem;
    margin-right: 2rem;

    li {
        break-inside: avoid;
    }
}


// Column lists
.column-list,
.column-list-wide {
    @include media-breakpoint-down('md') {
        // More space to make links easier to click on mobile
        line-height: 1.8;
    }
}

.column-list {
    @include media-breakpoint-up('sm') {
        column-count: 2;
    }

    @include media-breakpoint-up('lg') {
        column-count: 3;
    }

    @include media-breakpoint-up('xl') {
        column-count: 4;
    }

    @include media-breakpoint-up('xxl') {
        column-count: 5;
    }
}

.column-list-wide {
    column-gap: 3rem;

    @include media-breakpoint-up('sm') {
        column-count: 1;
    }

    @include media-breakpoint-up('lg') {
        column-count: 2;
    }

    @include media-breakpoint-up('xxl') {
        column-count: 3;
    }
}

.card-body {
    .column-list,
    .column-list-wide {
        margin: 0;
    }
}


// Search

.search-filtered {
    // Elements that should be hidden when a search result is shown
    .search-hide {
        display: none;
    }

    // Hide search items and containers that are not flagged "matched"
    .search-group,
    .search-item {
        &:not(.search-show) {
            display: none;
        }
    }
}

.search-no-result {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    line-height: 100%;
    color: $gray-500;
}


// Custom filtering

.analyzer-results {
    .analyzer-count {
        margin-top: 1rem;
        margin-bottom: 1rem;

        .loading {
            display: inline-block;
            width: 1.5em;
            height: 1.1em;
            background-repeat: no-repeat;
            background-position: right center;
            background-size: contain;
            background-image: url('../img/embed/loading.svg');
            vertical-align: middle;
        }
    }

    .add-chart-btn {
        width: 100%;
        padding: 1rem;
        border: 2px dashed $gray-500;
        border-radius: 0.5rem;
        opacity: 0.5;

        .head {
            font-size: 1.5rem;
            color: $gray-500;
        }

        .add-chart-list {
            @include media-breakpoint-up('sm') {
                column-count: 2;
            }

            @include media-breakpoint-up('xl') {
                column-count: 4;
            }

            .add-chart-group,
            .add-chart-group ul,
            .add-chart-group li {
                break-inside: avoid;
            }

            li {
                margin-top: 0.25rem;
            }

            button:disabled {
                opacity: 0.4;
            }
        }

        &:hover {
            opacity: 1.0;
            transition: opacity 0.15s ease-in-out;
        }
    }
}

// Static content

.about-logo {
    width: 40%;
    max-width: 15rem;
    height: auto;
    padding-left: 1rem;
    padding-bottom: 1rem;
    background: $white;
}

h1.home {
    margin-bottom: 0;
}

h2.home {
    margin: 0 0 1.5rem 0;
    border-bottom: none;
    font-size: 1.5rem;
}

.with-toogle {
    @include media-breakpoint-up('md') {
        display: none;
    }
}

.with-sidebar {
    @include media-breakpoint-down('md') {
        display: none;
    }
}


// Featured

.featured-hop {
    .teaser-image {
        max-width: 45%;
        max-height: 10rem;
    }
}
