@font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    src: local('Urbanist Regular'),
         local('Urbanist-Regular'),
         url('../fonts/Urbanist-Regular.woff2') format('woff2'),
         url('../fonts/Urbanist-Regular.woff') format('woff');
    font-display: swap;
}
