.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; // Behind the navbar
    padding: 62px 0 0; // Height of navbar
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    color: $light;

    .sidebar-content {
        margin: 0 1rem;
    }

    a {
        color: $primary-light;
    }

    .table-of-contents {
        ul {
            @include list-unstyled();
            margin-top: 0.25rem;
            padding: 0 0.5rem;

            a {
                text-decoration: none;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}
