.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; // Behind the navbar
    padding: 51px 0 0; // Height of navbar
    overflow-y: auto;
    background: $gray-10;

    .sidebar-content {
        margin: 0 1rem;
    }

    .table-of-contents {
        ul, ol {
            margin-top: 1rem;
            @include list-unstyled();

            li {
                &.section-title {
                    a {
                        margin-left: 0;
                        margin-bottom: 0.25rem;
                        padding: 0.25rem 0;
                        border: none;
                        font-family: var(--bs-font-headline);
                        font-size: 1.125rem;
                        font-weight: bold;

                        &.active {
                            border: none;
                        }
                    }
                }

                a {
                    display: inline-block;
                    margin-left: 0.5rem;
                    padding: 0.25rem 0.5rem;
                    border-left: 3px solid $gray-100;
                    color: $gray;
                    text-decoration: none;

                    &:hover {
                        color: $primary;
                    }

                    &.active {
                        color: $primary;
                        border-left: 3px solid $primary;
                    }
                }
            }
        }
    }
}

.filtering {
    padding: 1rem 0;

    select {
        padding: 2px 3px 3px 3px;
    }

    .range-slider {
        position: relative;
        height: 1rem;

        span {
            position: absolute;
            left: 0;
            height: 6px;
            width: 100%;
            background: #ada6a0;
            border-radius: 6px;
            overflow: hidden;
            top: calc(50% - 3px);
        }
    }
}
