{% extends 'base_admin.html' %}
{% load web_app %}

{% block content %}
    <h1>Descriptions Admin</h1>

    <h2>Hops missing Description ({{ hops|length }})</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Hop</th>
                <th>Recipes</th>
            </tr>
        </thead>
        <tbody>
            {% for hop in hops %}
                <tr>
                    <td><a href="{{ hop.hop|url }}">{{ hop.hop.name }}</a></td>
                    <td>{{ hop.recipes_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Flavors missing Description ({{ flavors|length }})</h2>
        <table class="table">
        <thead>
            <tr>
                <th>Flavor</th>
                <th>Hops Count</th>
            </tr>
        </thead>
        <tbody>
            {% for flavor in flavors %}
                <tr>
                    <td>{{ flavor.name }}</td>
                    <td>{{ flavor.hops_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Yeasts missing Description ({{ yeasts|length }})</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Yeast</th>
                <th>Recipes</th>
            </tr>
        </thead>
        <tbody>
            {% for yeast in yeasts %}
                <tr>
                    <td><a href="{{ yeast.yeast|url }}">{{ yeast.yeast.full_name }}</a></td>
                    <td>{{ yeast.recipes_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Fermentables missing Description ({{ fermentables|length }})</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Fermentable</th>
                <th>Recipes</th>
            </tr>
        </thead>
        <tbody>
            {% for fermentable in fermentables %}
                <tr>
                    <td><a href="{{ fermentable.fermentable|url }}">{{ fermentable.fermentable.name }}</a></td>
                    <td>{{ fermentable.recipes_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
