{% extends 'base.html' %}
{% load web_app %}

{% block content %}
    <h1>Descriptions</h1>

    <h2>Hops missing Description</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Hop</th>
                <th>Recipes</th>
            </tr>
        </thead>
        <tbody>
            {% for hop in hops %}{% if not hop.has_description %}
                <tr>
                    <td>{{ hop.name }}</td>
                    <td>{{ hop.recipes_count }}</td>
                </tr>
            {% endif %}{% endfor %}
        </tbody>
    </table>

    <h2>Flavors missing Description</h2>
        <table class="table">
        <thead>
            <tr>
                <th>Flavor</th>
                <th>Hops Count</th>
            </tr>
        </thead>
        <tbody>
            {% for flavor in flavors %}{% if not flavor.has_description %}
                <tr>
                    <td>{{ flavor.name }}</td>
                    <td>{{ flavor.hops_count }}</td>
                </tr>
            {% endif %}{% endfor %}
        </tbody>
    </table>

    <h2>Yeasts missing Description</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Yeast</th>
                <th>Recipes</th>
            </tr>
        </thead>
        <tbody>
            {% for yeast in yeasts %}{% if not yeast.has_description %}
                <tr>
                    <td>{{ yeast.name }}</td>
                    <td>{{ yeast.recipes_count }}</td>
                </tr>
            {% endif %}{% endfor %}
        </tbody>
    </table>
{% endblock %}
