{% extends 'base_admin.html' %}
{% load web_app %}

{% block content %}
    <h1>Hops Admin</h1>

    <section class="card card-chart">
        <div class="card-header">
            <h2><a href="#mapped-hops" id="mapped-hops" class="anchor"><span></span></a>Mapped Hops</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <colgroup>
                    <col width="20%" />
                    <col width="10%" />
                    <col width="70%" />
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">Hop</th>
                        <th scope="col">Num Variants</th>
                        <th scope="col">Variants</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hop in hops %}
                    <tr>
                        <td>{{ hop.name }}</td>
                        <td>{{ hop.linked_count }}</td>
                        <td>
                            {% for linked in hop.linked %}
                                {{ linked.name|highlight:hop.name }} <small class="ms-3">({{ linked.count }})</small><br/>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
