{% extends 'base_admin.html' %}
{% load web_app %}

{% block content %}
    <h1>Admin</h1>

    {% with chart_type="influx-source" anchor="influx-source" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Influx by Source</h2>
            </div>
            <div class="card-body">
                <div class="chart-m" data-chart="{% url "admin_chart" chart_type "json" %}">
                    <noscript>
                        <img src="{% url "admin_chart" chart_type "svg" %}" alt="{{ period|chart_image_alt:chart_type }}"/>
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}
{% endblock %}
