<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <title>{% block title %}{% endblock %} | Beer Analytics</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}"/>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap shadow p-0">
    <div class="container-fluid navbar-expand-md p-0 pr-2">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0" href="/">Beer Analytics</a>
        <button class="navbar-toggler d-md-none ml-auto" type="button" data-toggle="collapse" data-target="#sidebar"
                aria-controls="sidebar" aria-expanded="false" aria-label="Toggle filters" title="Toggle filters">
            <span class="navbar-filter-icon"></span>
        </button>
        <button class="navbar-toggler d-md-none ml-1" type="button" data-toggle="collapse" data-target="#top-navigation"
                aria-controls="top-navigation" aria-expanded="false" aria-label="Toggle navigation" title="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% with request.resolver_match.url_name as url_name %}
            {% load web_app %}
            <div id="top-navigation" class="collapse navbar-collapse p-2 pl-md-0 pr-md-0">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link pt-md-1 pb-md-1{% if url_name|startswith:'style' %} active{% endif %}" href="{% url "style_overview" %}"><span class="nav-icon pint-icon"></span>Beer Styles</a></li>
                    <li class="nav-item"><a class="nav-link pt-md-1 pb-md-1{% if url_name|startswith:'hop' %} active{% endif %}" href="{% url "hop_overview" %}"><span class="nav-icon hops-icon"></span>Hops</a></li>
                    <li class="nav-item"><a class="nav-link pt-md-1 pb-md-1{% if url_name|startswith:'fermentable' %} active{% endif %}" href="{% url "fermentable_overview" %}"><span class="nav-icon fermentables-icon"></span>Fermentables</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link{% if url_name == 'legal' %} active{% endif %}" href="{% url "legal" %}">Legal Stuff</a></li>
                    <li class="nav-item"><a class="nav-link pt-md-0 pb-md-0" href="https://github.com/scheb/beer-analytics">
                        <span class="nav-icon github-icon" title="Fork me on GitHub"></span>
                        <span class="d-md-none">Fork me on GitHub</span>
                    </a></li>
                </ul>
            </div>
        {% endwith %}
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky">
                <div class="container-fluid"><p class="alert alert-info mt-3 p-2">No filtering options (yet)</p></div>
            </div>
        </nav>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pb-4">
            {% block content %}{% endblock %}
        </main>
    </div>
</div>

<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% block script %}{% endblock %}

</body>
</html>
