<!doctype html>{% with request.resolver_match.url_name as url_name %}{% load static %}{% load meta %}
<html lang="en">
<head {% meta_namespaces %}>
    {% if meta.title %}{% autoescape off %}{% title_prop meta.title %}{% endautoescape %}
    {% else %}<title>Beer Analytics &ndash; The analytical beer recipe database</title>{% endif %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% include "meta.html" %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}"/>
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}"/>
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5"/>
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>
    <meta name="apple-mobile-web-app-title" content="Beer Analytics"/>
    <meta name="application-name" content="Beer Analytics"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="stylesheet" type="text/css" href="{% static 'beer_analytics.css' %}">
</head>
<body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap shadow">
    <nav class="container-fluid navbar-expand-md p-0">
        <a class="navbar-brand col-md-3 col-lg-2" href="/"><span class="logo"></span>Beer Analytics</a>
        <button class="navbar-toggler d-md-none ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar"
                aria-controls="sidebar" aria-expanded="false" aria-label="Toggle filters" title="Toggle filters">
            <span class="navbar-filter-icon"></span>
        </button>
        <button class="navbar-toggler d-md-none ms-1 me-3" type="button" data-bs-toggle="collapse" data-bs-target="#top-navigation"
                aria-controls="top-navigation" aria-expanded="false" aria-label="Toggle navigation" title="Toggle navigation">
            <span class="navbar-burger-icon"></span>
        </button>
            {% load web_app %}
            <div id="top-navigation" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link{% if url_name|startswith:'style' %} active{% endif %}" href="{% url "style_overview" %}"><span class="nav-icon icon-beer"></span>Beer Styles</a></li>
                    <li class="nav-item"><a class="nav-link{% if url_name|startswith:'fermentable' %} active{% endif %}" href="{% url "fermentable_overview" %}"><span class="nav-icon icon-fermentable"></span>Fermentables</a></li>
                    <li class="nav-item"><a class="nav-link{% if url_name|startswith:'hop' %} active{% endif %}" href="{% url "hop_overview" %}"><span class="nav-icon icon-hop"></span>Hops</a></li>
                    <li class="nav-item"><a class="nav-link{% if url_name|startswith:'yeast' %} active{% endif %}" href="{% url "yeast_overview" %}"><span class="nav-icon icon-yeast"></span>Yeasts</a></li>
                    <li class="nav-item"><a class="nav-link{% if url_name|startswith:'trend' %} active{% endif %}" href="{% url "trend_overview" "recent" %}"><span class="nav-icon icon-trend"></span>Trends</a></li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link{% if url_name == 'about' %} active{% endif %}" href="{% url "about" %}">About</a></li>
                    <li class="nav-item"><a class="nav-link{% if url_name == 'legal' %} active{% endif %}" href="{% url "legal" %}" title="Legal Notice / Impressum (German)">Legal</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://github.com/scheb/beer-analytics">
                        <span class="nav-icon icon-github" title="Fork me on GitHub"></span>
                        <span class="d-md-none">Fork me on GitHub</span>
                    </a></li>
                </ul>
            </div>
        {% endwith %}
    </nav>
</header>

<div class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
            <div class="position-sticky sidebar-content">
                {% include "filters.html" %}
            </div>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pb-4">
            {% block content %}{% endblock %}
        </main>
    </div>
</div>

<script type="text/javascript" src="{% static 'app.js' %}"></script>

</body>
</html>
