<!doctype html>{% load static %}{% load meta %}{% load web_app %}
<html lang="en">
<head {% meta_namespaces %}>
    {% if meta.title %}{% autoescape off %}{% title_prop meta.title %}{% endautoescape %}{% else %}<title>Beer Analytics &ndash; The analytical beer recipe database</title>{% endif %}

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% include "meta.html" %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}"/>
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}"/>
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5"/>
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>
    <meta name="apple-mobile-web-app-title" content="Beer Analytics"/>
    <meta name="application-name" content="Beer Analytics"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script defer src="{% static 'app.js' %}"></script>
</head>
<body class="main-body">

<header class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap shadow">
    <nav class="container-fluid navbar-expand p-0">
        <a class="navbar-brand col-md-3 col-lg-2 d-none d-md-block" href="/"><span class="logo"></span><span class="d-none d-sm-inline ms-1">Beer Analytics</span></a>
        {% load web_app %}
        {% with request.resolver_match.url_name as url_name %}
        <div id="top-navigation" class="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link{% if url_name|startswith:'style' %} active{% endif %}" href="{% url "style_overview" %}"><span class="nav-icon icon-beer"></span><span class="d-none d-sm-inline ms-2">Beer Styles</span></a></li>
                <li class="nav-item"><a class="nav-link{% if url_name|startswith:'fermentable' %} active{% endif %}" href="{% url "fermentable_overview" %}"><span class="nav-icon icon-fermentable"></span><span class="d-none d-sm-inline ms-2">Fermentables</span></a></li>
                <li class="nav-item"><a class="nav-link{% if url_name|startswith:'hop' %} active{% endif %}" href="{% url "hop_overview" %}"><span class="nav-icon icon-hop"></span><span class="d-none d-sm-inline ms-2">Hops</span></a></li>
                <li class="nav-item"><a class="nav-link{% if url_name|startswith:'yeast' %} active{% endif %}" href="{% url "yeast_overview" %}"><span class="nav-icon icon-yeast"></span><span class="d-none d-sm-inline ms-2">Yeasts</span></a></li>
                <li class="nav-item"><a class="nav-link{% if url_name|startswith:'trend' %} active{% endif %}" href="{% url "trend_overview" "recent" %}"><span class="nav-icon icon-trend"></span><span class="d-none d-sm-inline ms-2">Trends</span></a></li>
                <li class="nav-item"><a class="nav-link{% if url_name|startswith:'search' %} active{% endif %}" href="{% url "search" %}"><span class="nav-icon icon-search"></span><span class="d-none d-sm-inline ms-2">Recipes</span></a></li>
            </ul>
        </div>
        {% endwith %}
        <button class="navbar-toggler d-block d-md-none ms-auto px-2 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar"
                aria-controls="sidebar" aria-expanded="false" aria-label="Toggle filters" title="Toggle filters">
            <span class="navbar-filter-icon"></span>
        </button>
    </nav>
</header>

<div class="container-fluid header-margin">
    <div class="row">
        <aside id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
            <div class="position-sticky sidebar-content">
                {% block sidebar %}
                    {% include "filters.html" %}
                {% endblock %}
            </div>
        </aside>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pb-4">
            {% block content %}{% endblock %}
        </main>
    </div>
</div>

<footer class="bd-footer border-top px-md-4 pt-4 pb-1">
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 col-md-9 ms-sm-auto col-lg-10">
            <div class="col mb-3">
                <p class="mb-2 d-flex">
                    <a href="/" class="me-1 link-dark text-decoration-none align-middle" title="Back to Home"><span class="logo"></span></a>
                    <span class="align-self-center h5 mb-0">Beer Analytics</span>
                </p>
                <p class="small text-muted mb-0">Built with ❤️ and open source software for the homebrewing community.</p>
            </div>

            <div class="col mb-3"></div>



            <div class="col mb-3">
                <h5>Beer Brewing</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{% url "style_overview" %}" class="nav-link p-0 text-muted">Beer Styles</a></li>
                    <li class="nav-item mb-2"><a href="{% url "hop_overview" %}" class="nav-link p-0 text-muted">Hops</a></li>
                    <li class="nav-item mb-2"><a href="{% url "hop_flavor_overview" %}" class="nav-link p-0 text-muted">Hop Flavors</a></li>
                    <li class="nav-item mb-2"><a href="{% url "fermentable_overview" %}" class="nav-link p-0 text-muted">Fermentables</a></li>
                    <li class="nav-item mb-2"><a href="{% url "yeast_overview" %}" class="nav-link p-0 text-muted">Yeasts</a></li>
                    <li class="nav-item mb-2"><a href="{% url "yeast_type" "brett-bacteria" %}" class="nav-link p-0 text-muted">Brettanomyces &amp; Bacteria</a></li>
                    <li class="nav-item mb-2"><a href="{% url "search" %}" class="nav-link p-0 text-muted">Beer Recipe Search</a></li>
                </ul>
            </div>

            <div class="col mb-3">
                <h5>Data Analysis</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{% url "trend_overview" "recent" %}" class="nav-link p-0 text-muted">Trends in Homebrewing</a></li>
                    <li class="nav-item mb-2"><a href="{% url "trend_popular_hops" %}" class="nav-link p-0 text-muted">Popular Hops</a></li>
                    <li class="nav-item mb-2"><a href="{% url "trend_popular_yeasts" %}" class="nav-link p-0 text-muted">Popular Yeasts</a></li>
                    <li class="nav-item mb-2"><a href="{% url "trend_popular_styles" %}" class="nav-link p-0 text-muted">Popular Beer Styles</a></li>
                    <li class="nav-item mb-2"><a href="{% url "analyze" %}" class="nav-link p-0 text-muted">Beer Recipe Analyzer</a></li>
                </ul>
            </div>

            <div class="col mb-3">
                <h5>About</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{% url "about" %}" class="nav-link p-0 text-muted">About Beer Analytics</a></li>
                    <li class="nav-item mb-2"><a href="{% url "updates" %}" class="nav-link p-0 text-muted">Recent Updates</a></li>
                    <li class="nav-item mb-2"><a href="https://github.com/scheb/beer-analytics" class="nav-link p-0 text-muted">Source Code on GitHub</a></li>
                    <li class="nav-item mb-2"><a href="{% url "legal" %}" class="nav-link p-0 text-muted">Legal Notice</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% web_analytics %}
</body>
</html>
