<p><small>Looking for something specific? Filter and analyze by your own needs:</small></p>
<form class="filtering">
    <div class="mb-2" id="style">
        <label for="styleSelect" class="form-label">Style</label>
        <div data-select="styles">
            <select id="styleSelect" class="form-select"></select>
        </div>
    </div>

    <div class="mb-2" id="hop">
        <label for="hopSelect" class="form-label">Uses one of hops</label>
        <div data-select="hops">
            <select id="hopSelect" class="form-select"></select>
        </div>
    </div>

    <div class="mb-2">
        <label class="form-label">IBU</label>
        <div id="ibuRangeSlider" class="range-slider" data-range-slider="ibu"><span></span></div>
    </div>

    <div class="mb-2">
        <label class="form-label">ABV</label>
        <div id="abvRangeSlider" class="range-slider" data-range-slider="abv"><span></span></div>
    </div>

    <div class="mb-2">
        <label class="form-label">Color <small class="muted">(SRM)</small></label>
        <div id="srmRangeSlider" class="range-slider" data-range-slider="srm"><span></span></div>
    </div>

    <div>
        <label class="form-label">Original Gravity</label>
        <div id="ogRangeSlider" class="range-slider" data-range-slider="og"><span></span></div>
    </div>
</form>
