{% extends 'base.html' %}
{% load web_app %}

{% block content %}
    <h1 class="home">Welcome to Beer Analytics</h1>
    <p><strong>The analytical beer recipe database</strong></p>

    <p>
        <em>Beer Analytics</em> is a <strong>database of beer brewing recipes</strong>, built specifically for data
        analysis. It is made for beer enthusiasts and (home)brewers to provide detailed insights how brewing recipes are
        composed, even when you're not an expert in data analysis. Currently, the database contains
        <strong>{{ recipes }} recipes</strong>, mostly from the homebrewing community.
    </p>

    <p>
        Start exploring how certain <a href="{% url "style_overview" %}">beer styles</a> are typically composed or just
        browse the index of <a href="{% url "fermentable_overview" %}">fermentables</a>,
        <a href="{% url "fermentable_category" "grain" %}">malts</a>, <a href="{% url "hop_overview" %}">hops</a> and
        <a href="{% url "yeast_overview" %}">yeasts</a> to learn how they're used.
    </p>
{% endblock %}
