<h2>Recent Updates</h2>
<p><strong>2023-04-08</strong></p>
<ul>
    <li>Software upgrades</li>
</ul>
<p><strong>2021-01-06</strong></p>
<ul>
    <li>The recipe database now automatically updates with latest recipes once a day</li>
</ul>
<p><strong>2020-11-26</strong></p>
<ul>
    <li>Added custom filtering and data analysis</li>
    <li>Trends on the homepage have been removed in favor to custom analysis and dedicated trends pages</li>
</ul>
<p>
    This is the last big update for now. The project has reached a state in which everything that I've planned at the
    beginning has been implemented. Minor improvements still may be added occasionally. I'm happy to hear feedback and
    ideas, if you have any.
</p>
<p><strong>2020-11-17</strong></p>
<ul>
    <li>Added trends pages</li>
</ul>
<p><strong>2020-11-11</strong></p>
<ul>
    <li>Added a search on the styles and ingredients overviews</li>
</ul>
<p><strong>2020-10-25</strong></p>
<ul>
    <li>Better trend detection</li>
    <li>Added a box to link random recipes of that category</li>
    <li>Added 100k more recipes</li>
    <li>No longer assign a style when a recipe's characteristics are too far from the style specification</li>
</ul>
<p><strong>2020-10-14</strong></p>
<ul>
    <li>New charts</li>
    <ul>
        <li>Styles: Most used yeasts over time</li>
        <li>Styles: Trending yeasts</li>
        <li>Styles: Most used hops over time</li>
        <li>Styles: Most used fermentables over time</li>
        <li>Hops: Yeasts used in combination</li>
        <li>Yeasts: Hops used in combination</li>
    </ul>
    <li>Smoother timeline charts</li>
</ul>
