<h2>Recent Updates</h2>
<p><strong>Next:</strong> Trends pages</p>
<p><strong>2020-11-11</strong></p>
<ul>
    <li>Added a search on the styles and ingredients overviews</li>
</ul>
<p><strong>2020-10-25</strong></p>
<ul>
    <li>Better trend detection</li>
    <li>Added a box to link random recipes of that category</li>
    <li>Added 100k more recipes</li>
    <li>No longer assign a style when a recipe's characteristics are too far from the style specification</li>
</ul>
<p><strong>2020-10-14</strong></p>
<ul>
    <li>New charts</li>
    <ul>
        <li>Styles: Most used yeasts over time</li>
        <li>Styles: Trending yeasts</li>
        <li>Styles: Most used hops over time</li>
        <li>Styles: Most used fermentables over time</li>
        <li>Hops: Yeasts used in combination</li>
        <li>Yeasts: Hops used in combination</li>
    </ul>
    <li>Smoother timeline charts</li>
</ul>
