{% extends 'base.html' %}
{% load web_app %}

{% block sidebar %}
<nav class="table-of-contents">
    <strong>Table of Contents</strong>
    <ul>
        <li><a href="#specifications">Specifications</a></li>
        <li><a href="#popularity">Popularity Over Time</a></li>

        <li class="mt-3"><a href="#most-used-yeasts">Most Used Yeasts</a></li>
        <li><a href="#trending-yeasts">Trending Yeasts</a></li>

        <li class="mt-3"><a href="#most-used-hops">Most Used Hops</a></li>
        <li><a href="#most-used-hops-amount">Typical Amount of Hops</a></li>
        <li><a href="#trending-hops">Trending Hops</a></li>
        <li><a href="#hop-pairings">Common Hop Pairings</a></li>

        <li class="mt-3"><a href="#most-used-fermentables">Most Used Fermentables</a></li>
        <li><a href="#most-used-fermentables-amount">Typical Amount of Fermentables</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
    {% include './breadcrumb.html' %}
    <div class="detail-head">
        <h1>{{ style.name }} <small class="text-muted ml-2" title="BJCP ID">{{ style.id }}</small></h1>

        <dl class="detail-info">
            <dt>Recipes:</dt>
            <dd>{{ style.recipes_count }}</dd>
            {% if style.alt_names %}
            <dt>Includes:</dt>
            {% for alt_name in style.alt_names_list %}
            <dd class="badge">{{ alt_name }}</dd>
            {% endfor %}
            {% endif %}
        </dl>

        {% if style.is_category %}
            <p>This is a <strong>beer style category</strong>, containing the following beer styles:</p>
        {% elif style.has_sub_styles %}
            <p>This beer style has some specialized <strong>sub-styles</strong>:</p>
        {% endif %}

        {% if style.has_sub_styles %}
            <ul>
                {% for style1 in style.sub_styles %}
                    <li>
                        <a href="{% url "style_detail" style1.category.slug style1.slug %}">{{ style1.name }}</a>
                        {% if style1.has_sub_styles %}
                            <ul class="list-unstyled mt-1 mb-2 ml-2">
                                {% for style2 in style1.sub_styles %}
                                    <li>
                                        <a href="{% url "style_detail" style2.category.slug style2.slug %}">{{ style2.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    {% include './metrics.html' %}

    {% with chart_type="popularity" anchor="popularity" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Popularity Over Time</h2>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-m">
                    <noscript>
                        {{ style|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="popular-yeasts" anchor="most-used-yeasts" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Most Used Yeasts</h2>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-m">
                    <noscript>
                        {{ style|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="trending-yeasts" anchor="trending-yeasts" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Trending Yeasts</h2>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-m">
                    <noscript>
                        {{ style|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="popular-hops" anchor="most-used-hops" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Most Used Hops</h2>
                <nav id="chart-{{ chart_type }}-tabs" class="d-none">
                    <label>Used for:</label>
                    <ul class="nav" role="tablist">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" data-toggle="tab" role="tab" data-filter="">Any</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="bittering">Bittering</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="aroma">Aroma</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="dry-hop">Dry-Hop</a></li>
                    </ul>
                </nav>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-m">
                    <noscript>
                        {{ style|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="popular-hops-amount" anchor="most-used-hops-amount" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Typical Amount of Hops</h2>
                <nav id="chart-{{ chart_type }}-tabs" class="d-none">
                    <label>Used for:</label>
                    <ul class="nav" role="tablist">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" data-toggle="tab" role="tab" data-filter="">Any</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="bittering">Bittering</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="aroma">Aroma</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="dry-hop">Dry-Hop</a></li>
                    </ul>
                </nav>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-l">
                    <noscript>
                        {{ style|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="trending-hops" anchor="trending-hops" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Trending Hops</h2>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-m">
                    <noscript>
                        {{ style|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="hop-pairings" anchor="hop-pairings" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Common Hop Pairings</h2>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-l">
                    <noscript>
                        {{ style|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="popular-fermentables" anchor="most-used-fermentables" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Most Used Fermentables</h2>
                <nav id="chart-{{ chart_type }}-tabs" class="d-none">
                    <label>Type:</label>
                    <ul class="nav" role="tablist">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" data-toggle="tab" role="tab" data-filter="">Any</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="base">Base Malt</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="cara-crystal">Caramel/Crystal</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="toasted">Toasted</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="roasted">Roasted</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="other-grain">Other Grain</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="sugar">Sugar</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="fruit">Fruit</a></li>
                    </ul>
                </nav>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-m">
                    <noscript>
                        {{ style|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="popular-fermentables-amount" anchor="most-used-fermentables-amount" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Typical Amount of Fermentables</h2>
                <nav id="chart-{{ chart_type }}-tabs" class="d-none">
                    <label>Type:</label>
                    <ul class="nav" role="tablist">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" data-toggle="tab" role="tab" data-filter="">Any</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="base">Base Malt</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="cara-crystal">Caramel/Crystal</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="toasted">Toasted</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="roasted">Roasted</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="other-grain">Other Grain</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="sugar">Sugar</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="fruit">Fruit</a></li>
                    </ul>
                </nav>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-l">
                    <noscript>
                        {{ style|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {# Added this to fix scroll position flipping around when changing tabs on the last chart #}
    <div style="height: 1px;"></div>
{% endblock %}

{% block script %}
<script>
window.addEventListener('load', function ()
{
    // Metrics
    display_graph('chart-abv-histogram', '{{ style|chart_js:"abv-histogram" }}', {displayModeBar: false});
    display_graph('chart-ibu-histogram', '{{ style|chart_js:"ibu-histogram" }}', {displayModeBar: false});
    display_graph('chart-color-srm-histogram', '{{ style|chart_js:"color-srm-histogram" }}', {displayModeBar: false});
    display_graph('chart-original-gravity-histogram', '{{ style|chart_js:"original-gravity-histogram" }}', {displayModeBar: false});
    display_graph('chart-final-gravity-histogram', '{{ style|chart_js:"final-gravity-histogram" }}', {displayModeBar: false});

    // Charts
    display_graph('chart-popularity', '{{ style|chart_js:"popularity" }}');
    display_graph('chart-popular-yeasts', '{{ style|chart_js:"popular-yeasts" }}');
    display_graph('chart-trending-yeasts', '{{ style|chart_js:"trending-yeasts" }}');
    display_graph_with_navigation('chart-popular-hops', 'chart-popular-hops-tabs', '{{ style|chart_js:"popular-hops" }}');
    display_graph_with_navigation('chart-popular-hops-amount', 'chart-popular-hops-amount-tabs', '{{ style|chart_js:"popular-hops-amount" }}');
    display_graph('chart-trending-hops', '{{ style|chart_js:"trending-hops" }}');
    display_graph('chart-hop-pairings', '{{ style|chart_js:"hop-pairings" }}');
    display_graph_with_navigation('chart-popular-fermentables', 'chart-popular-fermentables-tabs', '{{ style|chart_js:"popular-fermentables" }}');
    display_graph_with_navigation('chart-popular-fermentables-amount', 'chart-popular-fermentables-amount-tabs', '{{ style|chart_js:"popular-fermentables-amount" }}');
});
</script>
{% endblock %}
