{% extends 'base.html' %}
{% load web_app %}

{% block title %}{{ style.name }} ‹ Beer Styles{% endblock %}

{% block content %}
    {% include './breadcrumb.html' %}
    <div class="detail-head">
        <h1>{{ style.name }} <small class="text-muted ml-2" title="BJCP ID">{{ style.id }}</small></h1>

        <dl class="detail-info">
            <dt>Recipes:</dt>
            <dd>{{ style.recipes_count }}</dd>
            {% if style.alt_names %}
            <dt>Includes:</dt>
            {% for alt_name in style.alt_names_list %}
            <dd class="badge">{{ alt_name }}</dd>
            {% endfor %}
            {% endif %}
        </dl>

        {% if style.is_category %}
            <p>This is a <strong>beer style category</strong>, containing the following beer styles:</p>
        {% elif style.has_sub_styles %}
            <p>This beer style has some specialized <strong>sub-styles</strong>:</p>
        {% endif %}

        {% if style.has_sub_styles %}
            <ul>
                {% for style1 in style.sub_styles %}
                    <li>
                        <a href="{% url "style_detail" style1.category.slug style1.slug %}">{{ style1.name }}</a>
                        {% if style1.has_sub_styles %}
                            <ul class="list-unstyled mt-1 mb-2 ml-2">
                                {% for style2 in style1.sub_styles %}
                                    <li>
                                        <a href="{% url "style_detail" style2.category.slug style2.slug %}">{{ style2.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    {% include './metrics.html' %}

    <section class="card card-chart">
        <div class="card-header">
            <h2><a href="#popularity" id="popularity" class="anchor"><span></span></a>Popularity Over Time</h2>
        </div>
        <div class="card-body">
            <div id="chart-popularity" class="chart-m">
                <noscript>
                    {{ style|chart_image:"popularity"|safe }}
                </noscript>
            </div>
        </div>
    </section>

    <section class="card card-chart">
        <div class="card-header">
            <h2><a href="#most-used-fermentables" id="most-used-fermentables" class="anchor"><span></span></a>Most Used Fermentables</h2>
            <nav id="chart-fermentables-tabs">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" data-toggle="tab" role="tab" data-filter="" href="#chart-fermentables">Any</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="base" href="#chart-fermentables-base">Base Malt</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="cara-crystal" href="#chart-fermentables-cara-crystal">Caramel/Crystal</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="toasted" href="#chart-fermentables-toasted">Toasted</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="roasted" href="#chart-fermentables-roasted">Roasted</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="other-grain" href="#chart-fermentables-other-grain">Other Grain</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="sugar" href="#chart-fermentables-sugar">Sugar</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="fruit" href="#chart-fermentables-fruit">Fruit</a></li>
                </ul>
            </nav>
        </div>
        <div class="card-body">
            <div id="chart-fermentables" class="chart-l">
                <noscript>
                    {{ style|chart_image:"popular-fermentables"|safe }}
                </noscript>
            </div>
        </div>
    </section>

    <section class="card card-chart">
        <div class="card-header">
            <h2><a href="#most-used-hops" id="most-used-hops" class="anchor"><span></span></a>Most Used Hops</h2>
            <nav id="chart-hops-tabs">
                <ul class="nav nav-tabs  card-header-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" data-toggle="tab" role="tab" data-filter="" href="#chart-hops">Any</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="bittering" href="#chart-hops-bittering">Bittering</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="aroma" href="#chart-hops-aroma">Aroma</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-filter="dry-hop" href="#chart-hops-dry-hop">Dry-Hop</a></li>
                </ul>
            </nav>
        </div>
        <div class="card-body">
            <div id="chart-hops" class="chart-l">
                <noscript>
                    {{ style|chart_image:"popular-hops"|safe }}
                </noscript>
            </div>
        </div>
    </section>

    <section class="card card-chart">
        <div class="card-header">
            <h2><a href="#hop-pairings" id="hop-pairings" class="anchor"><span></span></a>Common Hop Pairings</h2>
        </div>
        <div class="card-body">
            <div id="chart-hop-pairings" class="chart-l">
                <noscript>
                    {{ style|chart_image:"hop-pairings"|safe }}
                </noscript>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
<script>
window.addEventListener('load', function ()
{
    // Metrics
    display_graph('chart-spec-abv', '{{ style|chart_js:"abv-histogram" }}', {displayModeBar: false});
    display_graph('chart-spec-ibu', '{{ style|chart_js:"ibu-histogram" }}', {displayModeBar: false});
    display_graph('chart-spec-color', '{{ style|chart_js:"color-srm-histogram" }}', {displayModeBar: false});
    display_graph('chart-spec-og', '{{ style|chart_js:"original-gravity-histogram" }}', {displayModeBar: false});
    display_graph('chart-spec-fg', '{{ style|chart_js:"final-gravity_histogram" }}', {displayModeBar: false});

    // Charts
    display_graph('chart-popularity', '{{ style|chart_js:"popularity" }}');
    display_graph_with_navigation('chart-fermentables', 'chart-fermentables-tabs', '{{ style|chart_js:"popular-fermentables" }}');
    display_graph_with_navigation('chart-hops', 'chart-hops-tabs', '{{ style|chart_js:"popular-hops" }}');
    display_graph('chart-hop-pairings', '{{ style|chart_js:"hop-pairings" }}');
});
</script>
{% endblock %}
