{% load static %}
{% load web_app %}
<article class="card featured-card featured-style">
    <div class="card-header">
        <h3 class="p-0"><a href="{{ style|url }}" class="text-body" style="text-decoration: none">{{ style.name }}</a></h3>
    </div>
    <div class="card-body">
        <dl class="detail-info mt-0 mb-3info">
            <dt>Recipes:</dt>
            <dd>{{ style.recipes_count }}</dd>
            {% if style.origin %}
            <dt>Origin:</dt>
            <dd>{% for origin in style.origin_regions %}{% if forloop.counter0 %}, {% endif %}{% if origin.flag %}{{ origin.flag }} {% endif %}{{ origin.name }}{% endfor %}</dd>
            {% endif %}
            {% if style.fermentation %}
            <dt>Fermentation:</dt>
            <dd>{{ style.fermentation|title }}</dd>
            {% endif %}
            {% if style.color %}
            <dt>Color:</dt>
            <dd>{{ style.color|title }}</dd>
            {% endif %}
            {% if style.flavor %}
            <dt>Taste:</dt>
            <dd>{{ style.flavor|title }}</dd>
            {% endif %}
        </dl>
        {{ style|description|truncatewords_html:60 }}
        <p class="mb-0">
            <a href="{{ style|url }}#most-used-hops" class="btn btn-sm btn-secondary">Hops</a>
            <a href="{{ style|url }}#most-used-hops-amount" class="btn btn-sm btn-secondary">Hop Dosage</a>
            <a href="{{ style|url }}#hop-pairings" class="btn btn-sm btn-secondary">Hop Pairings</a>
            <a href="{{ style|url }}#most-used-yeasts" class="btn btn-sm btn-secondary">Yeasts</a>
            <a href="{{ style|url }}" class="btn btn-sm btn-light">More ›</a>
        </p>
    </div>
</article>
