{% extends 'base.html' %}
{% load web_app %}

{% block content %}
    <h1>List of Beer Styles</h1>
    <section>
        <p>
            The database categorizes beer recipes using specific beer styles. Given the complexity and overlapping
            nature of styles in the craft brewing industry, finding an effective categorization scheme is challenging.
            Beer Analytics has opted to use the <a href="https://www.bjcp.org/">BJCP</a> (Beer Judge Certification Program)
            <a href="https://www.bjcp.org/style/2021/beer/">2021 Beer Style Guide</a> as a basis, with some minor
            modifications and additions.
        </p>

        {% if most_popular %}{% spaceless %}
            <figure class="badge-list mb-4">
                <figcaption>Most searched beer styles:</figcaption>
                <ol>
                {% for style in most_popular %}
                    <li><a class="badge" href="{{ style|url }}">{{ style.name }}</a></li>
                {% endfor %}
                </ol>
            </figure>
        {% endspaceless %}{% endif %}
    </section>

    <form class="search" data-search-target="styles-overview" data-search-type="styles">
        <p>
            <label for="input-search" class="visually-hidden">Search styles</label>
            <input type="search" class="search-term form-control" id="input-search" placeholder="Search styles">
        </p>
    </form>

    <div id="styles-overview" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
        {% for category in categories %}
            <section class="col search-group">
                <div class="card" data-search-term="{{ category.search_terms }}">
                    <div class="card-header">
                        <h2 class="h5 p-0 m-0"><a href="{{ category|url }}" class="text-body">{{ category.name }}</a></h2>
                    </div>
                    <ul class="search-group list-group list-group-flush">
                        {% for style1 in category.sub_styles %}
                            <li class="list-group-item" data-search-term="{{ style1.search_terms }}">
                                {% if style1.recipes_count %}<span class="recipes-count" title="Recipes">{{ style1.recipes_count }}</span>{% endif %}
                                {% if style1.is_popular %}<strong>{% endif %}<a href="{{ style1|url }}">{{ style1.name }}</a>{% if style1.is_popular %}</strong>{% endif %}
                                {% if style1.alt_names %}
                                    <div class="style-alias">
                                        {% for alt_name in style1.alt_names_list %}{% if forloop.counter0 %}, {% endif %}<em>{{ alt_name }}</em>{% endfor %}
                                    </div>
                                {% endif %}

                                {# 3rd level beer styles #}
                                {% if style1.has_sub_styles %}
                                    <ul class="search-group list-unstyled mt-1 ms-2">
                                        {% for style2 in style1.sub_styles %}
                                            <li data-search-term="{{ style2.search_terms }}">
                                                {% if style2.recipes_count %}<span class="recipes-count" title="Recipes">{{ style2.recipes_count }}</span>{% endif %}
                                                {% if style2.is_popular %}<strong>{% endif %}<a href="{{ style2|url }}">{{ style2.name }}</a>{% if style2.is_popular %}</strong>{% endif %}
                                                {% if style1.alt_names %}
                                                    <div class="style-alias">
                                                        {% for alt_name in style2.alt_names_list %}{% if forloop.counter0 %}, {% endif %}<em>{{ alt_name }}</em>{% endfor %}
                                                    </div>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        {% endfor %}
    </div>
{% endblock %}
