<p><em>HBC 472</em> is an experimental hop variety that was bred and developed through the Hop Breeding Company (HBC) in the Yakima Valley, Washington and is the result of the open pollination of a wild American hop known as the subspecies neomexicanus.</p>

<p>The flavor profile of <em>HBC 472</em> is described as being bold and intense, with notes of vanilla, coconut, and bourbon. Its aroma is also distinct, with a tropical fruit character that is reminiscent of pineapple and guava. <em>HBC 472</em> has a moderate alpha acid content, making it suitable for both bittering and aroma additions in brewing.</p>

<p>Due to its unique flavor and aroma profile, <em>HBC 472</em> has gained popularity among craft brewers and is often used in experimental or specialty beer recipes. Its complex flavor and aroma characteristics can add an interesting twist to traditional beer styles or be the star of the show in a more experimental brew.</p>
