{% extends 'base.html' %}

{% block title %}{{ style.name }} ‹ Beer Styles{% endblock %}

{% block content %}
    {% include './breadcrumb.html' %}
    <h1 class="mr-auto"><small class="text-muted" title="BJCP ID">{{ style.id }}</small> {{ style.name }}</h1>

    {% if style.alt_names %}
        <p>Includes: <span class="badge bg-secondary">{{ style.alt_names_list|join:'</span><span class="invisible">, </span><span class="badge bg-secondary">' }}</span></p>
    {% endif %}

    {% if style.recipes_count %}
        <p>Number of recipes: <strong>{{ style.recipes_count }}</strong></p>
    {% endif %}

    {% if style.is_category %}
        <p>This is a <strong>beer style category</strong>, containing the following beer styles:</p>
    {% elif style.has_sub_styles %}
        <p>This beer style has some specialized <strong>sub-styles</strong>:</p>
    {% endif %}

    {% if style.has_sub_styles %}
        <ul>
            {% for style1 in style.sub_styles %}
                <li>
                    <small class="text-muted" title="BJCP ID">{{ style1.id }}</small>
                    <a href="{% url "style_detail" style1.category.slug style1.slug %}">{{ style1.name }}</a>
                    {% if style1.has_sub_styles %}
                        <ul class="list-unstyled mt-1 mb-2 ml-2">
                            {% for style2 in style1.sub_styles %}
                                <li><small class="text-muted" title="BJCP ID">{{ style2.id }}</small>
                                    <a href="{% url "style_detail" style2.category.slug style2.slug %}">{{ style2.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% include './metrics.html' %}

    <h2>Popularity Over Time</h2>
    <noscript><img src="{% url "style_chart" style.id "popularity" "png" %}" alt="Popularity Over Time Chart" /></noscript>
    <div id="chart-popularity" class="height-20"></div>

    <h2>Most Used Fermentables</h2>
    <div id="chart-fermentables" class="height-30"></div>

    <h2>Most Used Hops</h2>
    <div id="chart-hops" class="height-30"></div>

    <h2>Common Hop Pairings</h2>
    <div id="chart-hop-pairings" class="height-30"></div>
{% endblock %}

{% block script %}
<script>
window.addEventListener('load', function ()
{
    display_graph('chart-spec-abv', '{% url "style_chart" style.id "abv-histogram" "json" %}', {displayModeBar: false});
    display_graph('chart-spec-ibu', '{% url "style_chart" style.id "ibu-histogram" "json" %}', {displayModeBar: false});
    display_graph('chart-spec-color', '{% url "style_chart" style.id "color-histogram" "json" %}', {displayModeBar: false});
    display_graph('chart-spec-original-plato', '{% url "style_chart" style.id "original-plato-histogram" "json" %}', {displayModeBar: false});
    display_graph('chart-spec-final-plato', '{% url "style_chart" style.id "final-plato-histogram" "json" %}', {displayModeBar: false});
    display_graph('chart-popularity', '{% url "style_chart" style.id "popularity" "json" %}');
    display_graph('chart-fermentables', '{% url "style_chart" style.id "popular-fermentables" "json" %}');
    display_graph('chart-hops', '{% url "style_chart" style.id "popular-hops" "json" %}');
    display_graph('chart-hop-pairings', '{% url "style_chart" style.id "hop-pairings" "json" %}');
});
</script>
{% endblock %}
