{% if root_url and site_id %}
<script>
    var _paq = window._paq = window._paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "{{ root_url }}";
        _paq.push(['setTrackerUrl', u + '{{ tracker_name }}']);
        _paq.push(['setSiteId', '{{ site_id }}']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.async = true;
        g.src = u + '{{ script_name }}';
        s.parentNode.insertBefore(g, s);
    })();
</script>
{% endif %}
