{% extends 'base.html' %}
{% load web_app %}

{% block content %}
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "hop_overview" %}">Hops</a></li>
            <li class="breadcrumb-item"><a href="{% url "hop_category" hop.category %}">{{ hop.category_name }} Hops</a></li>
            <li class="breadcrumb-item active">{{ hop.name }}</li>
        </ol>
    </nav>

    <div class="detail-head">
        <h1>{{ hop.name }} Hops</h1>
        <dl class="detail-info">
            <dt>Recipes:</dt>
            <dd>{{ hop.recipes_count }}</dd>
            {% if hop.alt_names %}
            <dt>Includes:</dt>
            {% for alt_name in hop.alt_names_list %}
            <dd class="badge">{{ alt_name }}</dd>
            {% endfor %}
            {% endif %}
        </dl>

        {% if hop.accessible_substitutes.count %}{% spaceless %}
        <p class="badge-list"><label>Substitutes:</label>
            {% for substitute in hop.accessible_substitutes %}<a href="{{ substitute|url }}" class="badge">{{ substitute.name }}</a>{% endfor %}
        </p>
        {% endspaceless %}{% endif %}

        {% if hop.aroma_tags.count %}{% spaceless %}
        <p class="badge-list"><label>Flavor:</label>
            {% for tag in hop.aroma_tags.all %}
                <a href="{% url "hop_category" tag.id %}" class="badge bg-primary">
                    {{ tag.name }}
                    <small>({{ tag.accessible_hops_count }})</small>
                </a>
            {% endfor %}
        </p>
        {% endspaceless %}{% endif %}

        {% if description %}<p>{{ description|safe }}</p>{% endif %}

        {% if long_description %}
            <div class="detail-long-description">
                {% include long_description %}
            </div>
        {% endif %}
    </div>

    {% include './metrics.html' %}

    {% with chart_type="popularity" anchor="popularity" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Popularity Over Time</h2>
            </div>
            <div class="card-body">
                <div class="chart-m" data-chart="{{ hop|chart_js:chart_type }}">
                    <noscript>
                        {{ hop|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="typical-styles-relative" anchor="styles-percent-recipes" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2>
                    <a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>
                    Typical Styles <small class="text-muted">by Percent of Recipes</small>
                </h2>
            </div>
            <div class="card-body">
                <div class="chart-l" data-chart="{{ hop|chart_js:chart_type }}">
                    <noscript>
                        {{ hop|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="typical-styles-absolute" anchor="styles-number-recipes" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2>
                    <a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>
                    Typical Styles <small class="text-muted">by Number of Recipes</small>
                </h2>
            </div>
            <div class="card-body">
                <div class="chart-l" data-chart="{{ hop|chart_js:chart_type }}">
                    <noscript>
                        {{ hop|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="amount-used-per-style" anchor="style-amount" %}
         <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Amount per Style</h2>
            </div>
            <div class="card-body">
                <div class="chart-l" data-chart="{{ hop|chart_js:chart_type }}">
                    <noscript>
                        {{ hop|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="amount-used-per-use" anchor="usage-amount" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Amount per Use</h2>
            </div>
            <div class="card-body">
                <div class="chart-l" data-chart="{{ hop|chart_js:chart_type }}">
                    <noscript>
                        {{ hop|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="hop-pairings" anchor="hop-pairings" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Common Pairings</h2>
            </div>
            <div class="card-body">
                <div class="chart-l" data-chart="{{ hop|chart_js:chart_type }}">
                    <noscript>
                        {{ hop|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}


    {% with chart_type="popular-yeasts" anchor="most-used-yeasts" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Most Used Yeasts</h2>
            </div>
            <div class="card-body">
                <div class="chart-m" data-chart="{{ hop|chart_js:chart_type }}">
                    <noscript>
                        {{ hop|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="trending-yeasts" anchor="trending-yeasts" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Trending Yeasts</h2>
            </div>
            <div class="card-body">
                <div class="chart-m" data-chart="{{ hop|chart_js:chart_type }}" data-chart-options='{"noDataText":"No trends detected"}'>
                    <noscript>
                        {{ hop|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with anchor="recipes" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Random Recipes</h2>
            </div>
            <div class="card-body">
                <div class="chart-s" data-recipes="{{ hop|recipes }}"></div>
            </div>
        </section>
    {% endwith %}
{% endblock %}
