{% extends 'base.html' %}
{% load web_app %}

{% block title %}{{ hop.name }} ‹ Hops{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "hop_overview" %}">Hops</a></li>
            <li class="breadcrumb-item"><a href="{% url "hop_category" hop.category %}">{{ hop.category_name }} Hops</a></li>
            <li class="breadcrumb-item active">{{ hop.name }}</li>
        </ol>
    </nav>

    <div class="detail-head">
        <h1>{{ hop.name }}</h1>
        <dl class="detail-info">
            <dt>Recipes:</dt>
            <dd>{{ hop.recipes_count }}</dd>
            {% if hop.alt_names %}
            <dt>Includes:</dt>
            {% for alt_name in hop.alt_names_list %}
            <dd class="badge">{{ alt_name }}</dd>
            {% endfor %}
            {% endif %}
        </dl>
    </div>

    {% include './metrics.html' %}

    <section class="card card-chart">
        <div class="card-header">
            <h2><a href="#popularity" id="popularity" class="anchor"><span></span></a>Popularity Over Time</h2>
        </div>
        <div class="card-body">
            <div id="chart-popularity" class="chart-m">
                <noscript>
                    {{ hop|chart_image:"popularity"|safe }}
                </noscript>
            </div>
        </div>
    </section>

    <section class="card card-chart">
        <div class="card-header">
            <h2><a href="#styles-number-recipes" id="styles-number-recipes" class="anchor"><span></span></a>Typical Styles <small class="text-muted">by Number of Recipes</small></h2>
        </div>
        <div class="card-body">
            <div id="chart-styles-abs" class="chart-l">
                <noscript>
                    {{ hop|chart_image:"typical-styles-absolute"|safe }}
                </noscript>
            </div>
        </div>
    </section>

    <section class="card card-chart">
        <div class="card-header">
            <h2><a href="#styles-percent-recipes" id="styles-percent-recipes" class="anchor"><span></span></a>Typical Styles <small class="text-muted">by Percent of Recipes</small></h2>
        </div>
        <div class="card-body">
            <div id="chart-styles-rel" class="chart-l">
                <noscript>
                    {{ hop|chart_image:"typical-styles-relative"|safe }}
                </noscript>
            </div>
        </div>
    </section>

     <section class="card card-chart">
        <div class="card-header">
            <h2><a href="#style-amount" id="style-amount" class="anchor"><span></span></a>Amount per Style</h2>
        </div>
        <div class="card-body">
            <div id="chart-style-amount" class="chart-l">
                <noscript>
                    {{ hop|chart_image:"amount-used-per-style"|safe }}
                </noscript>
            </div>
        </div>
    </section>

    <section class="card card-chart">
        <div class="card-header">
            <h2><a href="#usage-amount" id="usage-amount" class="anchor"><span></span></a>Amount per Use</h2>
        </div>
        <div class="card-body">
            <div id="chart-usage-amount" class="chart-l">
                <noscript>
                    {{ hop|chart_image:"amount-used-per-use"|safe }}
                </noscript>
            </div>
        </div>
    </section>

    <section class="card card-chart">
        <div class="card-header">
            <h2><a href="#hop-pairings" id="hop-pairings" class="anchor"><span></span></a>Common Pairings</h2>
        </div>
        <div class="card-body">
            <div id="chart-hop-pairings" class="chart-l">
                <noscript>
                    {{ hop|chart_image:"hop-pairings"|safe }}
                </noscript>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
<script>
window.addEventListener('load', function ()
{
    // Metrics
    display_graph('chart-metric-alpha', '{{ hop|chart_js:"alpha-histogram" }}', {displayModeBar: false});
    display_graph('chart-metric-beta', '{{ hop|chart_js:"beta-histogram" }}', {displayModeBar: false});
    display_graph('chart-metric-amount-percent', '{{ hop|chart_js:"amount-percent-range" }}', {displayModeBar: false});
    display_graph('chart-metric-usage', '{{ hop|chart_js:"usage-types" }}', {displayModeBar: false});

    // Charts
    display_graph('chart-popularity', '{{ hop|chart_js:"popularity" }}');
    display_graph('chart-styles-abs', '{{ hop|chart_js:"typical-styles-absolute" }}');
    display_graph('chart-styles-rel', '{{ hop|chart_js:"typical-styles-relative" }}');
    display_graph('chart-style-amount', '{{ hop|chart_js:"amount-used-per-style" }}');
    display_graph('chart-usage-amount', '{{ hop|chart_js:"amount-used-per-use" }}');
    display_graph('chart-hop-pairings', '{{ hop|chart_js:"hop-pairings" }}');
});
</script>
{% endblock %}
