{% extends 'base.html' %}
{% load web_app %}

{% block sidebar %}
<nav class="table-of-contents">
    <strong>Table of Contents</strong>
    <ul>
        <li><a href="#characteristics">Characteristics</a></li>
        <li><a href="#popularity">Popularity Over Time</a></li>

        <li class="mt-3"><a href="#styles-percent-recipes">Typical Styles (Percent)</a></li>
        <li><a href="#styles-number-recipes">Typical Styles (Recipes)</a></li>

        <li class="mt-3"><a href="#style-amount">Amount per Style</a></li>
        <li><a href="#usage-amount">Amount per Use</a></li>
        <li><a href="#hop-pairings">Common Pairings</a></li>

        <li class="mt-3"><a href="#most-used-yeasts">Most Used Yeasts</a></li>
        <li><a href="#trending-yeasts">Trending Yeasts</a></li>

        <li class="mt-3"><a href="#recipes">Random Recipes</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "hop_overview" %}">Hops</a></li>
            <li class="breadcrumb-item"><a href="{% url "hop_category" hop.category %}">{{ hop.category_name }} Hops</a></li>
            <li class="breadcrumb-item active">{{ hop.name }}</li>
        </ol>
    </nav>

    <div class="detail-head">
        <h1>{{ hop.name }}</h1>
        <dl class="detail-info">
            <dt>Recipes:</dt>
            <dd>{{ hop.recipes_count }}</dd>
            {% if hop.alt_names %}
            <dt>Includes:</dt>
            {% for alt_name in hop.alt_names_list %}
            <dd class="badge">{{ alt_name }}</dd>
            {% endfor %}
            {% endif %}
        </dl>

        {% if description %}<p>{{ description|safe }}</p>{% endif %}

        {% if hop.accessible_substitutes.count %}{% spaceless %}
        <p class="badge-list"><label>Substitutes:</label>
            {% for substitute in hop.accessible_substitutes %}<a href="{{ substitute|url }}" class="badge">{{ substitute.name }}</a>{% endfor %}
        </p>
        {% endspaceless %}{% endif %}

        {% if hop.aroma_tags.count %}{% spaceless %}
        <p class="badge-list"><label>Aromas:</label>
            {% for tag in hop.aroma_tags.all %}
                <a href="{% url "hop_category" tag.id %}" class="badge bg-primary">
                    {{ tag.name }}
                    <small>({{ tag.accessible_hops_count }})</small>
                </a>
            {% endfor %}
        </p>
        {% endspaceless %}{% endif %}
    </div>

    {% include './metrics.html' %}

    {% with chart_type="popularity" anchor="popularity" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Popularity Over Time</h2>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-m">
                    <noscript>
                        {{ hop|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="typical-styles-relative" anchor="styles-percent-recipes" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2>
                    <a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>
                    Typical Styles <small class="text-muted">by Percent of Recipes</small>
                </h2>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-l">
                    <noscript>
                        {{ hop|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="typical-styles-absolute" anchor="styles-number-recipes" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2>
                    <a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>
                    Typical Styles <small class="text-muted">by Number of Recipes</small>
                </h2>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-l">
                    <noscript>
                        {{ hop|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="amount-used-per-style" anchor="style-amount" %}
         <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Amount per Style</h2>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-l">
                    <noscript>
                        {{ hop|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="amount-used-per-use" anchor="usage-amount" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Amount per Use</h2>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-l">
                    <noscript>
                        {{ hop|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="hop-pairings" anchor="hop-pairings" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Common Pairings</h2>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-l">
                    <noscript>
                        {{ hop|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}


    {% with chart_type="popular-yeasts" anchor="most-used-yeasts" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Most Used Yeasts</h2>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-m">
                    <noscript>
                        {{ hop|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="trending-yeasts" anchor="trending-yeasts" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Trending Yeasts</h2>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-m">
                    <noscript>
                        {{ hop|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with anchor="recipes" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Random Recipes</h2>
            </div>
            <div class="card-body">
                <div id="recipes-list" class="chart-s"></div>
            </div>
        </section>
    {% endwith %}
{% endblock %}

{% block script %}
<script>
window.addEventListener('load', function ()
{
    // Metrics
    display_graph('chart-alpha-histogram', '{{ hop|chart_js:"alpha-histogram" }}', {displayModeBar: false});
    display_graph('chart-beta-histogram', '{{ hop|chart_js:"beta-histogram" }}', {displayModeBar: false});
    display_graph('chart-amount-percent-range', '{{ hop|chart_js:"amount-percent-range" }}', {displayModeBar: false});
    display_graph('chart-usage-types', '{{ hop|chart_js:"usage-types" }}', {displayModeBar: false});

    // Charts
    display_graph('chart-popularity', '{{ hop|chart_js:"popularity" }}');
    display_graph('chart-typical-styles-relative', '{{ hop|chart_js:"typical-styles-relative" }}');
    display_graph('chart-typical-styles-absolute', '{{ hop|chart_js:"typical-styles-absolute" }}');
    display_graph('chart-amount-used-per-style', '{{ hop|chart_js:"amount-used-per-style" }}');
    display_graph('chart-amount-used-per-use', '{{ hop|chart_js:"amount-used-per-use" }}');
    display_graph('chart-hop-pairings', '{{ hop|chart_js:"hop-pairings" }}');
    display_graph('chart-popular-yeasts', '{{ hop|chart_js:"popular-yeasts" }}');
    display_graph('chart-trending-yeasts', '{{ hop|chart_js:"trending-yeasts" }}');

    // Random recipes
    display_recipes('recipes-list', '{{ hop|recipes }}');
});
</script>
{% endblock %}
