{% load static %}
{% load web_app %}
<article class="card featured-card featured-hop">
    <div class="card-header">
        <h3 class="p-0"><a href="{{ hop|url }}" class="text-body" style="text-decoration: none">{{ hop.name }} Hops</a></h3>
    </div>
    <div class="card-body">
        <dl class="detail-info mt-0 mb-3info">
            <dt>Recipes:</dt>
            <dd>{{ hop.recipes_count }}</dd>
            <dt>Purpose:</dt>
            <dd>{{ hop.category_name }}</dd>

            {% if hop.recipes_alpha_mean %}
            <dt>Alpha:</dt>
            <dd>{{ hop.alpha_level|title }}</dd>
            {% endif %}

            {% if hop.origin_countries|length > 0 %}
            <dt>Origin:</dt>
            <dd>{% for origin in hop.origin_countries %}{% if forloop.counter0 %}, {% endif %}{{ origin.flag }} {{ origin.name }}{% endfor %}</dd>
            {% endif %}
        </dl>

        {% with "img/hops/hop-cones-drawing-"|add:hop.image_id|add:".png" as image_static %}
            <a href="{{ hop|url }}"><img src="{% static image_static %}" alt="Artistic drawing of hop cones" class="teaser-image float-end ms-3 mb-1 border rounded-2" width="158" height="158" /></a>
        {% endwith %}
        {{ hop|description|truncatewords_html:60 }}
        <p class="mb-0">
            <a href="{{ hop|url }}#hop-pairings" class="btn btn-sm btn-secondary">Hop Pairings</a>
            <a href="{{ hop|url }}#style-amount" class="btn btn-sm btn-secondary">Dosage</a>
            <a href="{{ hop|url }}#styles-percent-recipes" class="btn btn-sm btn-secondary">Styles</a>
            <a href="{{ hop|url }}" class="btn btn-sm btn-light">More ›</a>
        </p>
    </div>
</article>
