{% extends 'base.html' %}
{% load web_app %}

{% block content %}
    <nav aria-label="breadcrumb" class="mt-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "hop_overview" %}">Hops</a></li>
            <li class="breadcrumb-item"><a href="{% url "hop_flavor_overview" %}">Hop Flavors and Aromas</a></li>
            <li class="breadcrumb-item active">{{ tag_name }}{% if tag_category != 'other' %} Flavor{% endif %} Hops</li>
        </ol>
    </nav>

    <h1>Hops with {% if tag_category != 'other' %}{{ tag_name }} Flavor{% else %}the {{ tag_name }} Descriptor{% endif %}</h1>
    {% if long_description %}
        <div class="detail-long-description">
            {% include long_description %}
        </div>
    {% endif %}

    {% if associated_aroma_tags %}{% spaceless %}
        <figure class="badge-list">
            <figcaption>Other descriptors going with <em>{{ tag_name }}</em>:</figcaption>
            <ul>
            {% for tag in associated_aroma_tags %}
                <li><a href="{% url "hop_flavor_detail" tag.id %}" class="badge bg-{{ tag.category }}">
                    {{ tag.name }}
                    <small>({{ tag.combinations }})</small>
                </a></li>
            {% endfor %}
            </ul>
        </figure>
    {% endspaceless %}{% endif %}

    {% if hops_count > 4 %}
        <section class="hops-overview mb-5">
            <ul class="{% if hops_count > 10 %}column-list-wide{% else %}simple-list{% endif %}">
                {% for hop in hops %}
                    <li>
                        {% if hop.is_popular %}<strong>{% endif %}<a href="{{ hop|url }}">{{ hop.name }}</a>{% if hop.is_popular %}</strong>{% endif %}
                        <small class="recipes-count" title="Recipes">{{ hop.recipes_count }}</small>
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section class="featured-hops">
            <h2>Discover {{ tag_name }} {% if tag_category != 'other' %} Flavor{% endif %}Hops</h2>
            <div class="row row-cols-1 row-cols-md-1 row-cols-xl-2 g-2">
                {% for hop in most_popular %}
                    <div class="col">{% include "hop/featured.html" with hop=hop %}</div>
                {% endfor %}
            </div>
        </section>
    {% else %}
        <section class="hops-overview">
            <div class="row row-cols-1 row-cols-md-1 row-cols-xl-2 g-2">
                {% for hop in hops %}
                    <div class="col">{% include "hop/featured.html" with hop=hop %}</div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endblock %}
