{% extends 'base.html' %}
{% load web_app %}

{% block content %}
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "hop_overview" %}">Hops</a></li>
            <li class="breadcrumb-item"><a href="{% url "hop_flavor_overview" %}">Hop Flavors and Aromas</a></li>
            <li class="breadcrumb-item active">{{ tag_name }} Flavor Hops</li>
        </ol>
    </nav>

    <h1>Hops with {{ tag_name }} Flavor</h1>
    {% if long_description %}
        <div class="detail-long-description">
            {% include long_description %}
        </div>
    {% endif %}

    {% if associated_aroma_tags %}{% spaceless %}
        <div class="badge-list">
            <label>Other descriptors going with <em>{{ tag_name }}</em>:</label>
            <ul>
            {% for tag in associated_aroma_tags %}
                <li><a href="{% url "hop_flavor_detail" tag.id %}" class="badge bg-primary">
                    {{ tag.name }}
                    <small>({{ tag.combinations }})</small>
                </a></li>
            {% endfor %}
            </ul>
        </div>
    {% endspaceless %}{% endif %}

    <div class="hops-overview">
        <ul class="column-list">
            {% for hop in hops %}
                <li>
                    {% if hop.is_popular %}<strong>{% endif %}<a href="{{ hop|url }}">{{ hop.name }}</a>{% if hop.is_popular %}</strong>{% endif %}
                    <small class="recipes-count" title="Recipes">{{ hop.recipes_count }}</small>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
