{% load web_app %}
<h2>Characteristics</h2>
<div class="row row-cols-1 row-cols-lg-3 g-1 mb-4">
    {% if hop.recipes_alpha_min %}
        <div class="col">
            <div class="card text-center h-100">
                <div class="card-header"><h3 class="h6 mb-0">Alpha Acid</h3></div>
                <div class="card-body">
                    {{ hop.recipes_alpha_min|floatformat:1 }} &lt; <strong>{{ hop.recipes_alpha_mean|floatformat:1 }}</strong> &lt; {{ hop.recipes_alpha_max|floatformat:1 }} <small class="text-muted">%</small>
                </div>
                <div class="card-footer bg-transparent"><div id="chart-metric-alpha" class="chart-s">
                    <noscript>
                        {{ hop|chart_image:"alpha-histogram"|safe }}
                    </noscript>
                </div></div>
            </div>
        </div>
    {% endif %}
    {% if hop.recipes_amount_percent_min %}
        <div class="col">
            <div class="card text-center h-100">
                <div class="card-header"><h3 class="h6 mb-0">Amount in Recipe</h3></div>
                <div class="card-body">
                    {% if hop.recipes_amount_percent_min %}
                        {{ hop.recipes_amount_percent_min|floatformat:1 }} &lt; <strong>{{ hop.recipes_amount_percent_mean|floatformat:1 }}</strong> &lt; {{ hop.recipes_amount_percent_max|floatformat:1 }} <small class="text-muted">%</small>
                    {% endif %}
                </div>
                <div class="card-footer bg-transparent"><div id="chart-metric-amount-percent" class="chart-s">
                    <noscript>
                        {{ hop|chart_image:"amount-percent-range"|safe }}
                    </noscript>
                </div></div>
            </div>
        </div>
    {% endif %}
    {% if hop.use_count %}
        <div class="col">
            <div class="card text-center h-100">
                <div class="card-header"><h3 class="h6 mb-0">Usage in Recipe</h3></div>
                <div class="card-body">
                    <strong>{{ hop.category_name }} Hop</strong>
                </div>
                <div class="card-footer bg-transparent"><div id="chart-metric-usage" class="chart-s">
                    <noscript>
                        {{ hop|chart_image:"usage-types"|safe }}
                    </noscript>
                </div></div>
            </div>
        </div>
    {% endif %}
</div>
