{% extends 'base.html' %}
{% load web_app %}

{% block sidebar %}
<nav class="table-of-contents">
    <strong>Table of Contents</strong>
    <ul>
        <li><a href="#aroma">Aroma</a></li>
        <li><a href="#bittering">Bittering</a></li>
        <li><a href="#dual-purpose">Dual-Purpose</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
    <h1>Hops</h1>
    <p>
        This the the <strong>overview of hops</strong> that are identified by <em>Beer Analytics</em>. Some hops have
        been renamed or marketed under different names, these are listed under their (hopefully) most common name.
        You'll see alternative names in the &quot;includes&quot; list on hop detail pages.
    </p>

    <form class="search d-none">
        <p>
            <label for="input-search" class="sr-only">Search hops</label>
            <input type="search" class="search-term form-control" id="input-search" placeholder="Search hops">
        </p>
    </form>

    <div class="hops-overview">
        {% for category in categories %}
            <h2>
                <a href="#{{ category.id }}" id="{{ category.id }}" class="anchor"><span></span></a>
                <a href="{% url "hop_category" category.id %}" class="text-body">{{ category.name }}</a>
            </h2>
            <div class="mb-4">
                <p class="badge-list"><label>Most popular:</label>
                    {% for hop in category.most_popular %}
                        {% if forloop.counter0 > 0 %}<span class="d-none">, </span>{% endif %}
                        <a class="badge" href="{{ hop|url }}">{{ hop.name }}</a>
                    {% endfor %}
                </p>

                <ul class="column-list">
                    {% for hop in category.hops %}
                        <li data-search-term="{{ hop.name }}">
                            {% if hop.is_popular %}<strong>{% endif %}<a href="{{ hop|url }}">{{ hop.name }}</a>{% if hop.is_popular %}</strong>{% endif %}
                            <small class="recipes-count" title="Recipes">{{ hop.recipes_count }}</small>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
