{% extends 'base.html' %}
{% load web_app %}

{% block content %}
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "hop_overview" %}">Hops</a></li>
            <li class="breadcrumb-item active">{{ tag_name }} Flavor Hops</li>
        </ol>
    </nav>

    <h1>{{ tag_name }} Flavor Hops</h1>

    <div class="hops-overview">
        <ul class="column-list">
            {% for hop in hops %}
                <li>
                    {% if hop.is_popular %}<strong>{% endif %}<a href="{{ hop|url }}">{{ hop.name }}</a>{% if hop.is_popular %}</strong>{% endif %}
                    <small class="recipes-count" title="Recipes">{{ hop.recipes_count }}</small>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
