{% extends 'base.html' %}

{% block title %}{{ category_name }} Hops{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "hop_overview" %}">Hops</a></li>
            <li class="breadcrumb-item active">{{ category_name }} Hops</li>
        </ol>
    </nav>

    <h1>{{ category_name }} Hops</h1>

    <p class="most-popular">Most popular:
        {% for hop in most_popular %}
            {% if forloop.counter0 > 0 %}<span class="invisible">, </span>{% endif %}
            <a class="badge bg-primary" href="{{ hop.url }}">{{ hop.name }}</a>
        {% endfor %}
    </p>

    <ul class="column-list">
        {% for hop in hops %}
            <li><a href="{{ hop.url }}">{{ hop.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
