{% extends 'base.html' %}
{% load web_app %}

{% block sidebar %}
<nav class="table-of-contents">
    <strong>Table of Contents</strong>
    <ul>
        <li><a href="#popularity">Popularity Over Time</a></li>

        <li class="mt-3"><a href="#styles-percent-recipes">Typical Styles (Percent)</a></li>
        <li><a href="#styles-number-recipes">Typical Styles (Recipes)</a></li>

        <li class="mt-3"><a href="#most-used-hops">Most Used Hops</a></li>
        <li><a href="#trending-hops">Trending Hops</a></li>

        <li class="mt-3"><a href="#recipes">Random Recipes</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "yeast_overview" %}">Yeasts</a></li>
            <li class="breadcrumb-item"><a href="{% url "yeast_type" yeast.type %}">{{ yeast.type_name }} Yeasts</a></li>
            <li class="breadcrumb-item active">{{ yeast.full_name }}</li>
        </ol>
    </nav>

    <div class="detail-head">
        <h1>{{ yeast.full_name }}{% if yeast.has_extra_product_id %} <small class="text-muted">{{ yeast.product_id }}</small>{% endif %}</h1>
        <dl class="detail-info">
            <dt>Recipes:</dt>
            <dd>{{ yeast.recipes_count }}</dd>
            {% if yeast.form %}
            <dt>Form:</dt>
            <dd>{{ yeast.form_name }}</dd>
            {% endif %}
            {% if yeast.attenuation %}
            <dt>Attenuation:</dt>
            <dd>{{ yeast.attenuation }}%</dd>
            {% endif %}
            {% if yeast.flocculation %}
            <dt>Flocculation:</dt>
            <dd>{{ yeast.flocculation_name }}</dd>
            {% endif %}
            {% if yeast.tolerance %}
            <dt>Tolerance:</dt>
            <dd>{{ yeast.tolerance_name }}</dd>
            {% elif yeast.tolerance_percent %}
            <dt>Tolerance:</dt>
            <dd>{{ yeast.tolerance_percent|floatformat:1 }}%</dd>
            {% endif %}
            {% if yeast.min_temperature and yeast.max_temperature %}
            <dt>Temperature:</dt>
            <dd class="cursor-help" title="{{ yeast.min_temperature|fahrenheit|floatformat:1 }}&nbsp;&ndash;&nbsp;{{ yeast.max_temperature|fahrenheit|floatformat:1 }}°F">
                {{ yeast.min_temperature|floatformat:1 }}&nbsp;&ndash;&nbsp;{{ yeast.max_temperature|floatformat:1 }}°C
            </dd>
            {% endif %}
        </dl>

        {% if description %}<p>{{ description|safe }}</p>{% endif %}
    </div>

    {% with chart_type="popularity" anchor="popularity" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Popularity Over Time</h2>
            </div>
            <div class="card-body">
                <div class="chart-m" data-chart="{{ yeast|chart_js:chart_type }}">
                    <noscript>
                        {{ yeast|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="typical-styles-relative" anchor="styles-percent-recipes" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2>
                    <a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>
                    Typical Styles <small class="text-muted">by Percent of Recipes</small>
                </h2>
            </div>
            <div class="card-body">
                <div class="chart-l" data-chart="{{ yeast|chart_js:chart_type }}">
                    <noscript>
                        {{ yeast|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="typical-styles-absolute" anchor="styles-number-recipes" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2>
                    <a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>
                    Typical Styles <small class="text-muted">by Number of Recipes</small>
                </h2>
            </div>
            <div class="card-body">
                <div class="chart-l" data-chart="{{ yeast|chart_js:chart_type }}">
                    <noscript>
                        {{ yeast|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="popular-hops" anchor="most-used-hops" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Most Used Hops</h2>
            </div>
            <div class="card-body">
                <div class="chart-m" data-chart="{{ yeast|chart_js:chart_type }}">
                    <noscript>
                        {{ yeast|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="trending-hops" anchor="trending-hops" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Trending Hops</h2>
            </div>
            <div class="card-body">
                <div class="chart-m" data-chart="{{ yeast|chart_js:chart_type }}">
                    <noscript>
                        {{ yeast|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with anchor="recipes" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Random Recipes</h2>
            </div>
            <div class="card-body">
                <div class="chart-s" data-recipes="{{ yeast|recipes }}"></div>
            </div>
        </section>
    {% endwith %}
{% endblock %}

{% block script %}
<script>
window.addEventListener('load', function ()
{
    // Charts
    display_graph('chart-popularity', '{{ yeast|chart_js:"popularity" }}');
    display_graph('chart-typical-styles-relative', '{{ yeast|chart_js:"typical-styles-relative" }}');
    display_graph('chart-typical-styles-absolute', '{{ yeast|chart_js:"typical-styles-absolute" }}');

    display_graph('chart-popular-hops', '{{ yeast|chart_js:"popular-hops" }}');
    display_graph('chart-trending-hops', '{{ yeast|chart_js:"trending-hops" }}', {noDataText: "No trends detected"});

    // Random recipes
    display_recipes('recipes-list', '{{ yeast|recipes }}');
});
</script>
{% endblock %}
