{% extends 'base.html' %}
{% load web_app %}

{% block content %}
    <nav aria-label="breadcrumb" class="mt-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "yeast_overview" %}">Yeasts and Bacteria</a></li>
            <li class="breadcrumb-item"><a href="{% url "yeast_type" yeast.type %}">{{ yeast.type_name }}{% if yeast.type_is_yeast %} Yeast{% endif %}</a></li>
            <li class="breadcrumb-item active">{{ yeast.full_name }}</li>
        </ol>
    </nav>

    <article>
    <div class="detail-head clearfix">
        <h1>{{ yeast.full_name }}{% if yeast.has_extra_product_id %} <small class="text-muted">{{ yeast.product_id }}</small>{% endif %}</h1>
        <dl class="detail-info">
            <dt>Recipes:</dt>
            <dd>{{ yeast.recipes_count }}</dd>
            {% if yeast.form %}
            <dt>Form:</dt>
            <dd>{{ yeast.form_name }}</dd>
            {% endif %}
            {% if yeast.attenuation %}
            <dt>Attenuation:</dt>
            <dd>{{ yeast.attenuation }}%</dd>
            {% endif %}
            {% if yeast.flocculation %}
            <dt>Flocculation:</dt>
            <dd>{{ yeast.flocculation_name }}</dd>
            {% endif %}
            {% if yeast.tolerance %}
            <dt>Tolerance:</dt>
            <dd>{{ yeast.tolerance_name }}</dd>
            {% elif yeast.tolerance_percent %}
            <dt>Tolerance:</dt>
            <dd>{{ yeast.tolerance_percent|floatformat:1 }}%</dd>
            {% endif %}
            {% if yeast.min_temperature and yeast.max_temperature %}
            <dt>Temperature:</dt>
            <dd class="cursor-help" title="{{ yeast.min_temperature|fahrenheit|floatformat:1 }}&nbsp;&ndash;&nbsp;{{ yeast.max_temperature|fahrenheit|floatformat:1 }}°F">
                {{ yeast.min_temperature|floatformat:1 }}&nbsp;&ndash;&nbsp;{{ yeast.max_temperature|floatformat:1 }}°C
            </dd>
            {% endif %}
        </dl>

        <nav class="toc toc-align">
            <h2 class="toc-headline">Table of Contents</h2>
            <ol>
                <li class="d-lg-none"><a href="#profile" data-interaction="Yeasts:Click TOC:$label">Profile</a></li>
                <li><a href="#popularity" data-interaction="Yeasts:Click TOC:$label">Popularity Over Time</a></li>
                <li><a href="#styles-percent-recipes" data-interaction="Yeasts:Click TOC:$label">Popularity within Beer Styles</a></li>
                <li><a href="#styles-number-recipes" data-interaction="Yeasts:Click TOC:$label">Common Beer Styles</a></li>
                <li><a href="#most-used-hops" data-interaction="Yeasts:Click TOC:$label">Most Used Hops</a></li>
                <li><a href="#trending-hops" data-interaction="Yeasts:Click TOC:$label">Trending Hops</a></li>
                <li><a href="#recipes" data-interaction="Yeasts:Click TOC:$label">Brewing Recipes</a></li>
            </ol>
        </nav>

        <h2 class="d-lg-none">
            <a href="#profile" id="introduction" class="anchor"><span></span></a>
            Profile
        </h2>
        {% if not long_description and description %}<p>{{ description|safe }}</p>{% endif %}

        {% if long_description %}
            <div class="detail-long-description">
                {% include long_description %}
            </div>
        {% endif %}
    </div>

    {% with chart_type="popularity" anchor="popularity" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Popularity Over Time</h2>
            </div>
            <div class="card-body">
                <div class="chart-m" data-chart="{{ yeast|chart_js:chart_type }}">
                    <noscript>
                        {{ yeast|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="typical-styles-relative" anchor="styles-percent-recipes" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2>
                    <a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>
                    Popularity within Beer Styles
                </h2>
            </div>
            <div class="card-body">
                <div class="chart-l" data-chart="{{ yeast|chart_js:chart_type }}">
                    <noscript>
                        {{ yeast|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="typical-styles-absolute" anchor="styles-number-recipes" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2>
                    <a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>
                    Common Beer Styles
                </h2>
            </div>
            <div class="card-body">
                <div class="chart-l" data-chart="{{ yeast|chart_js:chart_type }}">
                    <noscript>
                        {{ yeast|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="popular-hops" anchor="most-used-hops" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Most Used Hops</h2>
            </div>
            <div class="card-body">
                <div class="chart-m" data-chart="{{ yeast|chart_js:chart_type }}">
                    <noscript>
                        {{ yeast|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="trending-hops" anchor="trending-hops" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Trending Hops</h2>
            </div>
            <div class="card-body">
                <div class="chart-m" data-chart="{{ yeast|chart_js:chart_type }}" data-chart-options='{"noDataText":"No trends detected"}'>
                    <noscript>
                        {{ yeast|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with anchor="recipes" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Brewing Recipes</h2>
            </div>
            <div class="card-body">
                <div class="chart-s" data-recipes="{{ yeast|recipes }}"></div>
            </div>
        </section>
    {% endwith %}
    </article>
{% endblock %}
