{% extends 'base.html' %}
{% load web_app %}

{% block content %}
    <h1>List of Yeasts and Bacteria</h1>
    <section>
        <p>
            Explore our comprehensive guide on <strong>{{ num_yeasts }} beer yeasts</strong>, including blends, brettanomyces and bacteria. Our extensive analysis offers insights to enhance your brewing experience and optimize flavor. With yeast significantly influencing beer taste, making the right choice is critical. The variety might be daunting, given new releases frequently. However, there are popular choices among brewers—yeasts that consistently yield excellent results.
        </p>
    </section>

    <form class="search" data-search-target="yeasts-overview" data-search-type="yeasts">
        <p>
            <label for="input-search" class="visually-hidden">Search yeasts</label>
            <input type="search" class="search-term form-control" id="input-search" placeholder="Search yeasts">
        </p>
    </form>

    <div id="yeasts-overview">
        {% for type in types %}
            <section class="search-group">
                <h2>
                    <a href="#{{ type.id }}" id="{{ type.id }}" class="anchor"><span></span></a>
                    <a href="{% url "yeast_type" type.id %}" class="text-body">{{ type.name }}{% if type.is_yeast %} Yeast{% endif %}</a>
                </h2>
                <div class="mb-4">
                    {% if type.most_popular %}{% spaceless %}
                        <figure class="badge-list search-hide">
                            <figcaption>Most popular:</figcaption>
                            <ol>
                            {% for yeast in type.most_popular %}
                                <li><a class="badge" href="{{ yeast|url }}">{{ yeast.full_name }}
                                    {% if yeast.has_extra_product_id %}({{ yeast.product_id }}){% endif %}
                                </a></li>
                            {% endfor %}
                            </ol>
                        </figure>
                    {% endspaceless %}{% endif %}

                    {% for lab in type.labs %}
                        <div class="search-group">
                            <h3>{{ lab.name }}</h3>
                            {% if lab.yeasts %}
                                <ul class="column-list-wide">
                                    {% for yeast in lab.yeasts %}
                                        <li data-search-term="{{ yeast.full_name }}{% if yeast.alt_names %}, {{ yeast.alt_names }}{% endif %}{% if yeast.has_extra_product_id %}, {{ yeast.product_id }}{% endif %}">
                                            {% if yeast.is_popular %}<strong>{% endif %}<a href="{{ yeast|url }}">{{ yeast.product_name }}</a>{% if yeast.is_popular %}</strong>{% endif %}
                                            {% if yeast.has_extra_product_id %}<small class="text-muted">({{ yeast.product_id }})</small>{% endif %}
                                            <small class="recipes-count" title="Recipes">{{ yeast.recipes_count }}</small>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}

                    {% if type.yeasts %}
                        <div class="search-group">
                            {% if type.labs %}
                                <h3>Other</h3>
                            {% endif %}
                            <ul class="column-list-wide">
                                {% for yeast in type.yeasts %}
                                    <li data-search-term="{{ yeast.full_name }}{% if yeast.alt_names %}, {{ yeast.alt_names }}{% endif %}{% if yeast.has_extra_product_id %}, {{ yeast.product_id }}{% endif %}">
                                        {% if yeast.is_popular %}<strong>{% endif %}<a href="{{ yeast|url }}">{{ yeast.full_name }}</a>{% if yeast.is_popular %}</strong>{% endif %}
                                        {% if yeast.has_extra_product_id %}<small class="text-muted">({{ yeast.product_id }})</small>{% endif %}
                                        <small class="recipes-count" title="Recipes">{{ yeast.recipes_count }}</small>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </section>
        {% endfor %}
    </div>
{% endblock %}
