{% extends 'base.html' %}
{% load web_app %}

{% block title %}Yeasts{% endblock %}

{% block sidebar %}
<nav class="table-of-contents">
    <strong>Table of Contents</strong>
    <ul>
        <li><a href="#ale">Ale</a></li>
        <li><a href="#lager">Lager</a></li>
        <li><a href="#wheat">Wheat</a></li>
        <li><a href="#brett-bacteria">Brett &amp; Bacteria</a></li>
        <li><a href="#wine-cider">Wine &amp; Cider</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
    <h1>Yeasts</h1>

    <form class="search d-none">
        <p>
            <label for="input-search" class="sr-only">Search yeasts</label>
            <input type="search" class="search-term form-control" id="input-search" placeholder="Search yeasts">
        </p>
    </form>

    <div class="yeasts-overview">
        {% for type in types %}
            <h2>
                <a href="#{{ type.id }}" id="{{ type.id }}" class="anchor"><span></span></a>
                <a href="{% url "yeast_type" type.id %}" class="text-body">{{ type.name }}</a>
            </h2>
            <div class="mb-4">
                {% if type.most_popular %}
                    <p class="most-popular">Most popular:
                        {% for yeast in type.most_popular %}
                            {% if forloop.counter0 > 0 %}<span class="invisible">, </span>{% endif %}
                            <a class="badge" href="{{ yeast|url }}">{{ yeast.full_name }}</a>
                        {% endfor %}
                    </p>
                {% endif %}

                {% for lab in type.labs %}
                    <h3>{{ lab.name }}</h3>
                    {% if lab.yeasts %}
                        <ul class="column-list-wide">
                            {% for yeast in lab.yeasts %}
                                <li>
                                    {% if yeast.is_popular %}<strong>{% endif %}<a href="{{ yeast|url }}">{{ yeast.product_name }}</a>{% if yeast.is_popular %}</strong>{% endif %}
                                    {% if yeast.has_extra_product_id %}<small class="text-muted">({{ yeast.product_id }})</small>{% endif %}
                                    <small class="recipes-count" title="Recipes">{{ yeast.recipes_count }}</small>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}

                {% if type.yeasts %}
                    {% if type.labs %}
                        <h3>Other</h3>
                    {% endif %}
                    <ul class="column-list-wide">
                        {% for yeast in type.yeasts %}
                            <li>
                                {% if yeast.is_popular %}<strong>{% endif %}<a href="{{ yeast|url }}">{{ yeast.full_name }}</a>{% if yeast.is_popular %}</strong>{% endif %}
                                {% if yeast.has_extra_product_id %}<small class="text-muted">({{ yeast.product_id }})</small>{% endif %}
                                <small class="recipes-count" title="Recipes">{{ yeast.recipes_count }}</small>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
