{% extends 'base.html' %}
{% load web_app %}

{% block content %}
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "yeast_overview" %}">Yeasts</a></li>
            <li class="breadcrumb-item active">{{ type_name }} Yeasts</li>
        </ol>
    </nav>

    <h1>{{ type_name }} Yeasts</h1>

    {% if most_popular %}
        <div class="badge-list">
            <label>Most popular:</label>
            <ol>
            {% for yeast in most_popular %}
                <li><a class="badge" href="{{ yeast|url }}">{{ yeast.full_name }}
                    {% if yeast.has_extra_product_id %}({{ yeast.product_id }}){% endif %}
                </a></li>
            {% endfor %}
            </ol>
        </div>
    {% endif %}

    <div class="yeasts-overview">
        {% for lab in labs %}
            <h3>{{ lab.name }}</h3>
            {% if lab.yeasts %}
                <ul class="column-list-wide">
                    {% for yeast in lab.yeasts %}
                        <li>
                            {% if yeast.is_popular %}<strong>{% endif %}<a href="{{ yeast|url }}">{{ yeast.name }}</a>{% if yeast.is_popular %}</strong>{% endif %}
                            {% if yeast.has_extra_product_id %}<small class="text-muted">({{ yeast.product_id }})</small>{% endif %}
                            <small class="recipes-count" title="Recipes">{{ yeast.recipes_count }}</small>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}

        {% if yeasts %}
            {% if labs %}
                <h3>Other</h3>
            {% endif %}
            <ul class="column-list-wide">
                {% for yeast in yeasts %}
                    <li>
                        {% if yeast.is_popular %}<strong>{% endif %}<a href="{{ yeast|url }}">{{ yeast.full_name }}</a>{% if yeast.is_popular %}</strong>{% endif %}
                        {% if yeast.has_extra_product_id %}<small class="text-muted">({{ yeast.product_id }})</small>{% endif %}
                        <small class="recipes-count" title="Recipes">{{ yeast.recipes_count }}</small>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
