{% extends 'base.html' %}
{% load web_app %}

{% block content %}
    <nav aria-label="breadcrumb" class="mt-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "fermentable_overview" %}">Fermentables</a></li>
            <li class="breadcrumb-item active">{{ category_name }} Fermentables</li>
        </ol>
    </nav>

    <h1>{{ category_name }} Fermentables</h1>
    {% if long_description %}
        <div class="detail-long-description">
            {% include long_description %}
        </div>
    {% endif %}

    {% if most_popular %}{% spaceless %}
        <figure class="badge-list">
            <figcaption>Most popular:</figcaption>
            <ol>
            {% for fermentable in most_popular %}
                <li><a class="badge" href="{{ fermentable|url }}">{{ fermentable.name }}</a></li>
            {% endfor %}
            </ol>
        </figure>
    {% endspaceless %}{% endif %}

    <div class="fermentables-overview">
        {% if fermentables %}
            <ul class="column-list">
                {% for fermentable in fermentables %}
                    <li>
                        {% if fermentable.is_popular %}<strong>{% endif %}<a href="{{ fermentable|url }}">{{ fermentable.name }}</a>{% if fermentable.is_popular %}</strong>{% endif %}
                        <small class="recipes-count" title="Recipes">{{ fermentable.recipes_count }}</small>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if types %}
            {% for type in types %}
                <section>
                    <h3>{{ type.name }}</h3>
                    {% if type.fermentables %}
                        <ul class="column-list">
                            {% for fermentable in type.fermentables %}
                                <li>
                                    {% if fermentable.is_popular %}<strong>{% endif %}<a href="{{ fermentable|url }}">{{ fermentable.name }}</a>{% if fermentable.is_popular %}</strong>{% endif %}
                                    <small class="recipes-count" title="Recipes">{{ fermentable.recipes_count }}</small>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </section>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
