{% extends 'base.html' %}
{% load web_app %}

{% block title %}{{ category_name }} Fermentables{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "fermentable_overview" %}">Fermentables</a></li>
            <li class="breadcrumb-item active">{{ category_name }} Fermentables</li>
        </ol>
    </nav>

    <h1>{{ category_name }} Fermentables</h1>

    {% if most_popular %}
        <p class="most-popular"><label>Most popular:</label>
            {% for fermentable in most_popular %}
                {% if forloop.counter0 > 0 %}<span class="d-none">, </span>{% endif %}
                <a class="badge" href="{{ fermentable|url }}">{{ fermentable.name }}</a>
            {% endfor %}
        </p>
    {% endif %}

    <div class="fermentables-overview">
        {% if fermentables %}
            <ul class="column-list">
                {% for fermentable in fermentables %}
                    <li>
                        {% if fermentable.is_popular %}<strong>{% endif %}<a href="{{ fermentable|url }}">{{ fermentable.name }}</a>{% if fermentable.is_popular %}</strong>{% endif %}
                        <small class="recipes-count" title="Recipes">{{ fermentable.recipes_count }}</small>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if types %}
            {% for type in types %}
                <h3>{{ type.name }}</h3>
                {% if type.fermentables %}
                    <ul class="column-list">
                        {% for fermentable in type.fermentables %}
                            <li>
                                {% if fermentable.is_popular %}<strong>{% endif %}<a href="{{ fermentable|url }}">{{ fermentable.name }}</a>{% if fermentable.is_popular %}</strong>{% endif %}
                                <small class="recipes-count" title="Recipes">{{ fermentable.recipes_count }}</small>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
