{% extends 'base.html' %}
{% load web_app %}

{% block title %}{{ fermentable.name }} ‹ Fermentables{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "fermentable_overview" %}">Fermentables</a></li>
            <li class="breadcrumb-item"><a href="{% url "fermentable_category" fermentable.category %}">{{ fermentable.category_name }} Fermentables</a></li>
            <li class="breadcrumb-item active">{{ fermentable.name }}</li>
        </ol>
    </nav>

    <div class="detail-head">
        <h1>{{ fermentable.name }}</h1>
        <dl class="detail-info">
            <dt>Type:</dt>
            <dd>{{ fermentable.type_name }}</dd>
            <dt>Recipes:</dt>
            <dd>{{ fermentable.recipes_count }}</dd>
            {% if fermentable.alt_names %}
            <dt>Includes:</dt>
            {% for alt_name in fermentable.alt_names_list %}
            <dd class="badge">{{ alt_name }}</dd>
            {% endfor %}
            {% endif %}
        </dl>
    </div>

    {% include './metrics.html' %}

    <section class="card card-chart">
        <div class="card-header">
            <h2><a href="#popularity" id="popularity" class="anchor"><span></span></a>Popularity Over Time</h2>
        </div>
        <div class="card-body">
            <div id="chart-popularity" class="chart-m">
                <noscript>
                    {{ fermentable|chart_image:"popularity"|safe }}
                </noscript>
            </div>
        </div>
    </section>

    <section class="card card-chart">
        <div class="card-header">
            <h2><a href="#styles-number-recipes" id="styles-number-recipes" class="anchor"><span></span></a>Typical Styles <small class="text-muted">by Number of Recipes</small></h2>
        </div>
        <div class="card-body">
            <div id="chart-styles-abs" class="chart-l">
                <noscript>
                    {{ fermentable|chart_image:"typical-styles-absolute"|safe }}
                </noscript>
            </div>
        </div>
    </section>

    <section class="card card-chart">
        <div class="card-header">
            <h2><a href="#styles-percent-recipes" id="styles-percent-recipes" class="anchor"><span></span></a>Typical Styles <small class="text-muted">by Percent of Recipes</small></h2>
        </div>
        <div class="card-body">
            <div id="chart-styles-rel" class="chart-l">
                <noscript>
                    {{ fermentable|chart_image:"typical-styles-relative"|safe }}
                </noscript>
            </div>
        </div>
    </section>

     <section class="card card-chart">
        <div class="card-header">
            <h2><a href="#style-amount" id="style-amount" class="anchor"><span></span></a>Amount per Style</h2>
        </div>
        <div class="card-body">
            <div id="chart-style-amount" class="chart-l">
                <noscript>
                    {{ fermentable|chart_image:"amount-used-per-style"|safe }}
                </noscript>
            </div>
        </div>
    </section>

    <section class="card card-chart">
        <div class="card-header">
            <h2><a href="#fermentable-pairings" id="fermentable-pairings" class="anchor"><span></span></a>Common Pairings</h2>
        </div>
        <div class="card-body">
            <div id="chart-fermentable-pairings" class="chart-l">
                <noscript>
                    {{ fermentable|chart_image:"fermentable-pairings"|safe }}
                </noscript>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
<script>
window.addEventListener('load', function ()
{
    // Metrics
    display_graph('chart-metric-color', '{{ fermentable|chart_js:"color-histogram" }}', {displayModeBar: false});
    display_graph('chart-metric-amount-percent', '{{ fermentable|chart_js:"amount-percent-range" }}', {displayModeBar: false});

    // Charts
    display_graph('chart-popularity', '{{ fermentable|chart_js:"popularity" }}');
    display_graph('chart-styles-abs', '{{ fermentable|chart_js:"typical-styles-absolute" }}');
    display_graph('chart-styles-rel', '{{ fermentable|chart_js:"typical-styles-relative" }}');
    display_graph('chart-style-amount', '{{ fermentable|chart_js:"amount-used-per-style" }}');
    display_graph('chart-fermentable-pairings', '{{ fermentable|chart_js:"fermentable-pairings" }}');
});
</script>
{% endblock %}
