{% extends 'base.html' %}
{% load web_app %}

{% block sidebar %}
<nav class="table-of-contents">
    <strong>Table of Contents</strong>
    <ul>
        <li><a href="#characteristics">Characteristics</a></li>
        <li><a href="#popularity">Popularity Over Time</a></li>
        <li><a href="#styles-percent-recipes">Typical Styles (Percent)</a></li>
        <li><a href="#styles-number-recipes">Typical Styles (Recipes)</a></li>
        <li><a href="#style-amount">Amount per Style</a></li>
        <li><a href="#fermentable-pairings">Common Pairings</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "fermentable_overview" %}">Fermentables</a></li>
            <li class="breadcrumb-item"><a href="{% url "fermentable_category" fermentable.category %}">{{ fermentable.category_name }} Fermentables</a></li>
            <li class="breadcrumb-item active">{{ fermentable.name }}</li>
        </ol>
    </nav>

    <div class="detail-head">
        <h1>{{ fermentable.name }}</h1>
        <dl class="detail-info">
            <dt>Type:</dt>
            <dd>{{ fermentable.type_name }}</dd>
            <dt>Recipes:</dt>
            <dd>{{ fermentable.recipes_count }}</dd>
            {% if fermentable.alt_names %}
            <dt>Includes:</dt>
            {% for alt_name in fermentable.alt_names_list %}
            <dd class="badge">{{ alt_name }}</dd>
            {% endfor %}
            {% endif %}
        </dl>

        {% if description %}<p>{{ description|safe }}</p>{% endif %}
    </div>

    {% include './metrics.html' %}

    {% with chart_type="popularity" anchor="popularity" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Popularity Over Time</h2>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-m">
                    <noscript>
                        {{ fermentable|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="typical-styles-relative" anchor="styles-percent-recipes" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2>
                    <a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>
                    Typical Styles <small class="text-muted">by Percent of Recipes</small>
                </h2>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-l">
                    <noscript>
                        {{ fermentable|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="typical-styles-absolute" anchor="styles-number-recipes" %}
        <section class="card card-chart">
            <div class="card-header">
                <h2>
                    <a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>
                    Typical Styles <small class="text-muted">by Number of Recipes</small>
                </h2>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-l">
                    <noscript>
                        {{ fermentable|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}

    {% with chart_type="amount-used-per-style" anchor="style-amount" %}
         <section class="card card-chart">
            <div class="card-header">
                <h2><a href="#{{ anchor }}" id="{{ anchor }}" class="anchor"><span></span></a>Amount per Style</h2>
            </div>
            <div class="card-body">
                <div id="chart-{{ chart_type }}" class="chart-l">
                    <noscript>
                        {{ fermentable|chart_image:chart_type|safe }}
                    </noscript>
                </div>
            </div>
        </section>
    {% endwith %}
{% endblock %}

{% block script %}
<script>
window.addEventListener('load', function ()
{
    // Metrics
    display_graph('chart-color-histogram', '{{ fermentable|chart_js:"color-histogram" }}', {displayModeBar: false});
    display_graph('chart-amount-percent-range', '{{ fermentable|chart_js:"amount-percent-range" }}', {displayModeBar: false});

    // Charts
    display_graph('chart-popularity', '{{ fermentable|chart_js:"popularity" }}');
    display_graph('chart-typical-styles-relative', '{{ fermentable|chart_js:"typical-styles-relative" }}');
    display_graph('chart-typical-styles-absolute', '{{ fermentable|chart_js:"typical-styles-absolute" }}');
    display_graph('chart-amount-used-per-style', '{{ fermentable|chart_js:"amount-used-per-style" }}');
});
</script>
{% endblock %}
