{% extends 'base.html' %}
{% load web_app %}

{% block title %}{{ fermentable.name }} ‹ Fermentables{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "fermentable_overview" %}">Fermentables</a></li>
            <li class="breadcrumb-item"><a href="{% url "fermentable_category" fermentable.category %}">{{ fermentable.category_name }} Fermentables</a></li>
            <li class="breadcrumb-item active">{{ fermentable.name }}</li>
        </ol>
    </nav>

    <h1>{{ fermentable.name }}</h1>

    {% if fermentable.alt_names %}
        <p>Includes: <span class="badge bg-secondary">{{ fermentable.alt_names_list|join:'</span><span class="invisible">, </span><span class="badge bg-secondary">' }}</span></p>
    {% endif %}

    <p>Type: <strong>{{ fermentable.type_name }}</strong></p>
    <p>Number of recipes: <strong>{{ fermentable.recipes_count }}</strong></p>

    {% include './metrics.html' %}

    <h2>Popularity Over Time</h2>
    <div id="chart-popularity" class="chart-m">
        <noscript>
            <img src="{{ fermentable|plot_image:"popularity" }}" alt="Popularity of the {{ fermentable.name }} fermentables over time" class="chart-image"/>
        </noscript>
    </div>

    <h2>Typical Styles</h2>
    <h3>Absolute Number of Recipes</h3>
    <div id="chart-styles-abs" class="chart-l">
        <noscript>
            <img src="{{ fermentable|plot_image:"typical-styles-absolute" }}" alt="Typical beer styles using {{ fermentable.name }} fermentables (by number of recipes)" class="chart-image"/>
        </noscript>
    </div>
    <h3>Relative Percent of Recipes</h3>
    <div id="chart-styles-rel" class="chart-l">
        <noscript>
            <img src="{{ fermentable|plot_image:"typical-styles-relative" }}" alt="Typical beer styles using {{ fermentable.name }} fermentables (by percent of recipes)" class="chart-image"/>
        </noscript>
    </div>

    <h2>Amount per Style</h2>
    <div id="chart-style-amount" class="chart-l">
        <noscript>
            <img src="{{ fermentable|plot_image:"amount-used-per-style" }}" alt="Amount of {{ fermentable.name }} fermentables used per beer style" class="chart-image"/>
        </noscript>
    </div>

    <h2>Common Pairings</h2>
    <div id="chart-pairings" class="chart-l">
        <noscript>
            <img src="{{ fermentable|plot_image:"fermentable-pairings" }}" alt="Fermentables typically paired with the {{ fermentable.name }} fermentable" class="chart-image"/>
        </noscript>
    </div>
{% endblock %}

{% block script %}
<script>
window.addEventListener('load', function ()
{
    // Metrics
    display_graph('chart-metric-color', '{{ fermentable|plot:"color-histogram" }}', {displayModeBar: false});
    display_graph('chart-metric-amount-percent', '{{ fermentable|plot:"amount-percent-range" }}', {displayModeBar: false});

    // Charts
    display_graph('chart-popularity', '{{ fermentable|plot:"popularity" }}');
    display_graph('chart-styles-abs', '{{ fermentable|plot:"typical-styles-absolute" }}');
    display_graph('chart-styles-rel', '{{ fermentable|plot:"typical-styles-relative" }}');
    display_graph('chart-style-amount', '{{ fermentable|plot:"amount-used-per-style" }}');
    display_graph('chart-pairings', '{{ fermentable|plot:"fermentable_pairings" }}');
});
</script>
{% endblock %}
