{% extends 'base.html' %}
{% load web_app %}

{% block sidebar %}
<nav class="table-of-contents">
    <strong>Table of Contents</strong>
    <ul>
        <li><a href="#grain">Grain</a></li>
        <li><a href="#sugar">Sugar</a></li>
        <li><a href="#fruit">Fruit</a></li>
        <li><a href="#malt-extract">Malt Extract</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
    <h1>Fermentables</h1>
    <p>
        This the the <strong>overview of fermentables</strong> that are identified by <em>Beer Analytics</em>.
        Comparable malts from different producers may be grouped together as one single item. You'll see that from the
        &quot;includes&quot; list on the fermentable pages.
    </p>

    <form class="search d-none">
        <p>
            <label for="input-search" class="sr-only">Search fermentables</label>
            <input type="search" class="search-term form-control" id="input-search" placeholder="Search fermentables">
        </p>
    </form>

    <div class="fermentables-overview">
        {% for category in categories %}
            <h2>
                <a href="#{{ category.id }}" id="{{ category.id }}" class="anchor"><span></span></a>
                <a href="{% url "fermentable_category" category.id %}" class="text-body">{{ category.name }}</a>
            </h2>
            <div class="mb-4">
                {% if category.most_popular %}
                    <p class="badge-list"><label>Most popular:</label>
                        {% for fermentable in category.most_popular %}
                            {% if forloop.counter0 > 0 %}<span class="d-none">, </span>{% endif %}
                            <a class="badge" href="{{ fermentable|url }}">{{ fermentable.name }}</a>
                        {% endfor %}
                    </p>
                {% endif %}

                {% if category.fermentables %}
                    <ul class="column-list">
                        {% for fermentable in category.fermentables %}
                            <li>
                                {% if fermentable.is_popular %}<strong>{% endif %}<a href="{{ fermentable|url }}">{{ fermentable.name }}</a>{% if fermentable.is_popular %}</strong>{% endif %}
                                <small class="recipes-count" title="Recipes">{{ fermentable.recipes_count }}</small>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if category.types %}
                    {% for type in category.types %}
                        <h3>
                            <a href="#{{ type.id }}" id="{{ type.id }}" class="anchor"><span></span></a>
                            {{ type.name }}
                        </h3>
                        {% if type.fermentables %}
                            <ul class="column-list">
                                {% for fermentable in type.fermentables %}
                                    <li>
                                        {% if fermentable.is_popular %}<strong>{% endif %}<a href="{{ fermentable|url }}">{{ fermentable.name }}</a>{% if fermentable.is_popular %}</strong>{% endif %}
                                        <small class="recipes-count" title="Recipes">{{ fermentable.recipes_count }}</small>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
