{% extends 'base.html' %}
{% load web_app %}

{% block content %}
    <h1>List of Fermentables</h1>
    <p>
        Dive into the world of homebrewing with this extensive <strong>guide to malts and fermentables</strong>, analyzed for their usage in beer brewing. We have identified a total of <strong>{{ num_fermentables }} fermentables</strong> in brewing recipes. Similar malts from different producers have cataloged them using their most common name.
    </p>

    <form class="search" data-search-target="fermentables-overview" data-search-type="fermentables">
        <p>
            <label for="input-search" class="visually-hidden">Search fermentables</label>
            <input type="search" class="search-term form-control" id="input-search" placeholder="Filter fermentables">
        </p>
    </form>

    <div id="fermentables-overview">
        {% for category in categories %}
            <section class="search-group">
                <h2>
                    <a href="#{{ category.id }}" id="{{ category.id }}" class="anchor"><span></span></a>
                    <a href="{% url "fermentable_category" category.id %}" class="text-body">{{ category.name }}</a>
                </h2>
                <div class="mb-4">
                    {% if category.most_popular %}{% spaceless %}
                        <figure class="badge-list search-hide">
                            <figcaption>Most popular:</figcaption>
                            <ol>
                            {% for fermentable in category.most_popular %}{% spaceless %}
                                <li><a class="badge" href="{{ fermentable|url }}">{{ fermentable.name }}</a></li>
                            {% endspaceless %}{% endfor %}
                            </ol>
                        </figure>
                    {% endspaceless %}{% endif %}

                    {% if category.fermentables %}
                        <ul class="column-list">
                            {% for fermentable in category.fermentables %}
                                <li data-search-term="{{ fermentable.name }}{% if fermentable.alt_names %}, {{ fermentable.alt_names }}{% endif %}">
                                    {% if fermentable.is_popular %}<strong>{% endif %}<a href="{{ fermentable|url }}">{{ fermentable.name }}</a>{% if fermentable.is_popular %}</strong>{% endif %}
                                    <small class="recipes-count" title="Recipes">{{ fermentable.recipes_count }}</small>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if category.types %}
                        {% for type in category.types %}
                            <div class="search-group">
                                <h3>
                                    <a href="#{{ type.id }}" id="{{ type.id }}" class="anchor"><span></span></a>
                                    {{ type.name }}
                                </h3>
                                {% if type.fermentables %}
                                    <ul class="column-list">
                                        {% for fermentable in type.fermentables %}
                                            <li data-search-term="{{ fermentable.name }}{% if fermentable.alt_names %}, {{ fermentable.alt_names }}{% endif %}">
                                                {% if fermentable.is_popular %}<strong>{% endif %}<a href="{{ fermentable|url }}">{{ fermentable.name }}</a>{% if fermentable.is_popular %}</strong>{% endif %}
                                                <small class="recipes-count" title="Recipes">{{ fermentable.recipes_count }}</small>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </section>
        {% endfor %}
    </div>
{% endblock %}
